@charset "utf-8";
/* CSS Document */
#main{ width:100%; margin:0px; padding:0px;}
.topBar{ background:#e9e9e9; padding:0px; border-bottom:#e9e9e9 solid 1px;}
ul.email_Tfn{ margin:0px; padding:7px 0px; list-style:none;}
ul.email_Tfn li{ display:inline-block; padding-right:15px;}
ul.email_Tfn li span{ padding-right:3px;}
ul.email_Tfn li a{ text-decoration:none; color:#333;}
ul.email_Tfn li a:hover{ color:#00F;}
ul.loginBtn{ margin:0px; padding:0px; list-style:none; float:right;}
ul.loginBtn li{ display:inline-block;}

ul.loginBtn li a{ display:block; padding:8px 40px; background:#2388db; color:#FFF; text-decoration:none; position:relative;}
ul.loginBtn li a::before {
    border-color: transparent #e9e9e9 #e9e9e9 transparent;
    border-style: solid;
    border-width: 18px 10px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}
.text-primary{ color:#2388db !important;}
.logo{ padding:5px;}



ul.customNav{ margin:0px; padding:0px; list-style:none;}
ul.customNav li{ position:relative;}
ul.customNav li a{ display:block; padding:18px 25px; color:#303030; text-transform:uppercase; font-weight:bold;}
ul.customNav li a:hover{ background:#2388db; color:#FFF;}
ul.customNav li.active a { background:#2388db; color:#FFF;}

ul.customNav li.active a::after, ul.customNav li a:hover::after {
	 border-color: #fff transparent transparent #fff;
    border-style: solid;
    border-width: 30px 10px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
ul.customNav li.active a::before, ul.customNav li a:hover::before {
	 border-color: transparent #fff #fff transparent;
    border-style: solid;
    border-width: 30px 10px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}

.navbar{ margin-bottom:0px !important;}
.navbar-brand{ padding:5px 10px;}
.navbar-toggle{ background:#28619a; margin-top:15px;}
.navbar-toggle .icon-bar{ background:#FFF;}

.img{
    max-width: 100%;
    max-height: 100%;
    height: inherit !important;
}

.carousel-inner-text{ padding:100px 0px; }
.carousel-inner-text .bigTextSize{ font-size:40px; color:#fff; margin:0px; padding:0px; text-transform:uppercase; font-weight:bold; line-height:50px;}
.smallTextSize{ background:#2388db; font-size:16px; color:#fff; margin:30px 0px; padding:10px 20px; font-weight:bold; text-transform:uppercase; display:inline-block; border-bottom:#006fca solid 5px;}
.smallTextSize a{ color:#FFF; text-decoration:none;}

.heading{ position:relative;}
.heading span {
    color: #6d7c88;
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.1px;
    text-transform: uppercase;
	margin-bottom:5px;
}
.heading h2 {
    font-weight: 900;
    letter-spacing: -1px;
	margin:0px;
	padding:0px;
    margin-bottom: 30px;
    padding-bottom: 13px;
    position: relative;
    text-transform: uppercase;
}
.heading h2::after, .heading h6::after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 34px;
	background-color: #006fca !important;
    transition: all 0.5s ease-in-out 0s;
}
.services{ margin-top:50px; margin-bottom:50px;}
.services .block{ background:#FFF; padding:0px; }
.services .block .innerWrap{ margin:0px; padding:10px 35px 30px 35px; border:#dcdcdc solid 1px;  box-shadow:0 0 6px 2px rgba(212, 222, 229, 0.4)}
.services .block .innerWrap .headingText{ font-size:18px; text-transform:uppercase;}
.textColor{ color:#8494a0; line-height:24px;}
.services .block .innerWrap .headingText span{ display:block;}
.services .block .innerWrap .readMore{padding-top:10px;}
.services .block .innerWrap .readMore a{ text-decoration:none; color:#303030; text-transform:uppercase;}
.services .block .innerWrap .readMore a:hover{ color:#006fca;}

.newportinfo{ background:url(../images/about-banner.jpg) no-repeat; background-size:cover;}
.newportinfo .row1{ margin-left:0px; margin-right:0px;}
.newportinfo .block4{ background:#394650; padding:40px 20px;}


.newportinfo .formInline{ float:left; margin-top:20px;}
.newportinfo .formview{ background:#fff; padding:14px 15px; margin:0px; color:#acacac; min-height:50px; border:none; width:100%;}
.newportinfo .border-left{ border-left:#eeeeee solid 1px;}
.newportinfo .btnview{ background:#000;color:#fff; min-height:50px; padding:14px 20px; border:none;}
.newportinfo .domain{ width:75%;}
.newportinfo .domainName{ width:15%;}
.newportinfo .search{ width:10%;}

.services{ margin:40px 0px;}
.services .block{ border:#e9e9e9 solid 1px; margin-top:20px;}
.services .block .titleName{  padding:10px 20px; position:relative; min-height:100px; position:relative; box-shadow:0 0 6px 2px rgba(212, 222, 229, 0.4)}
.services .block .titleName .icons{ width:75px; height:100px; vertical-align:top; float:left; padding-top:25px;}
.services .block .titleName .title{ font-size:18px; text-transform:uppercase; padding:10px 0px;}
.text-white{ color:#FFF;}
.custom-message{
	background:#e9e9e9;
	padding:30px;
	
	}
.messagearea{
	padding: 20px;
	background:#218ade;
	color:#FFF;
	font-style:italic;
	font-size:18px;
	line-height:25px;
	position:relative;
	margin-bottom:40px;
	
	 }
	 
.messagearea::after {
    border-color: #218ade transparent transparent #218ade;
    border-style: solid;
    border-width: 11px 8px;
    bottom: -22px;
    content: "";
    left: 0;
    position: absolute;
}


.testimonialsection{ margin : 40px 0px 80px 0px;}
.testimonial-block {
		padding: 20px 30px; border:#dcdcdc solid 1px;  box-shadow:0 0 6px 2px rgba(212, 222, 229, 0.4)
}

.stillhave{ background:#218ade; padding:15px 0px;}
.stillhave-title{ font-size:20px; color:#FFF;}
.stillhave-para{ color:#CCC; padding-top:5px;} 
.stillhave-btn{ background:#e04622 ; margin:10px 0 0 0; padding:10px 20px; font-size:16px;}
.stillhave-btn a{ color:#FFF; text-transform:uppercase; text-decoration:none;}

.carousel-indicators .active { background-color:#218ade;}
.carousel-indicators li{ background-color:#bdbdbd;}
.carousel-indicators{ bottom:-50px;}

.price{ position:absolute; bottom:-45%; left:30%;}
.price .round{ background:#7cb43b; font-size:16px; padding:45px 35px; color:#FFF; border-radius : 100px; -moz-border-radius : 100px; -webkit-border-radius : 100px; -ms-border-radius : 100px; border:#a8c981 solid 6px; width:150px; height:150px; }
.price .round span{ display:block; font-weight:bold;}
ul.priceListing{ margin:110px 0px 0px 0px; padding:0px; list-style:none;}
ul.priceListing li{ margin:0px; padding:12px 0px; border-top:#e9e9e9 solid 1px; color:#646464; text-align:center;}
ul.priceListing li a{ display:inline-block; padding:10px 20px; background:#8bc34a; color:#FFF; text-transform:uppercase; text-decoration:none; margin:15px 0px;}
ul.priceListing li a:hover{ background:#ff6600;}



/***** inner page design **********/
.gray-brd-top{ border-top:#e4e4e4 solid 5px;}
.innerPageContent{ padding-top:30px; padding-bottom:30px;}
.headingTexth1{ font-size:24px; color:#ff6600; margin:0px; padding:15px 0px; text-transform:uppercase; text-shadow:1px 1px 1px #ccc}


.breadcrumb {
  padding: 7px 14px;
  margin: 5px 00px 0px 0px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  }
  
footer{ background:#e9e9e9; padding-top:40px;}
footer .headingTextSize{ font-size:15px; text-transform:uppercase;}
footer .headingTextSize span{ color:#f37d13;}
ul.footer{margin:0px; padding:0px; list-style:none;}
ul.footer li{ padding:5px 6px;}
ul.footer li a{ text-decoration:none; color:#303030; display:inline-block; }
ul.footer li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    position: relative;
    margin-right: 10px;
    top: 1px;
    color: #7e7e7e;
}
ul.footer li a:hover{ color:#f37d13;}
footer .information{ background:#282828; margin-top:40px; padding-top:15px; color:#FFF;}
footer .information .small{ padding-top:10px;}

.panel-heading .accordion-toggle:after {
 
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";  
    float: right;      
    color: #bdbdbd;    
	
}

.panel-heading .accordion-toggle.collapsed:after {
   
    content: "\e080";   
}