/* line 3, ../scss/dashboard_new.scss */
body, html {
  height: 100%;
}

/* line 7, ../scss/dashboard_new.scss */
.two-col-container {
  height: calc(100% - 0px);
}
/* line 10, ../scss/dashboard_new.scss */
.two-col-container .mobile-header {
  display: none;
}
/* line 13, ../scss/dashboard_new.scss */
.two-col-container .mobile-header .back-button {
  padding: 0;
  margin: 0;
}
/* line 20, ../scss/dashboard_new.scss */
.two-col-container .top-row {
  background-color: #fafafa;
  height: 100%;
}
/* line 24, ../scss/dashboard_new.scss */
.two-col-container .col {
  height: 100%;
}
/* line 29, ../scss/dashboard_new.scss */
.two-col-container .col-1 {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 39, ../scss/dashboard_new.scss */
.two-col-container .orders-list .order-item {
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* line 45, ../scss/dashboard_new.scss */
.two-col-container .orders-list .order-item.selected, .two-col-container .orders-list .order-item:hover {
  background-color: #eeeeee;
}
/* line 49, ../scss/dashboard_new.scss */
.two-col-container .orders-list .order-item:last-child {
  border: 0;
}
/* line 53, ../scss/dashboard_new.scss */
.two-col-container .orders-list .order-item .order-container {
  padding: 15px;
}
/* line 59, ../scss/dashboard_new.scss */
.two-col-container .order-details {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 767px) {
  /* line 72, ../scss/dashboard_new.scss */
  .two-col-container {
    position: relative;
  }
  /* line 75, ../scss/dashboard_new.scss */
  .two-col-container .col-1 {
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
    z-index: 9;
  }
  /* line 80, ../scss/dashboard_new.scss */
  .two-col-container .col-1.bury {
    opacity: 0;
    z-index: 1;
  }
  /* line 86, ../scss/dashboard_new.scss */
  .two-col-container .col-2 {
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    margin: 0;
    padding: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
  }
  /* line 98, ../scss/dashboard_new.scss */
  .two-col-container .col-2.bury {
    opacity: 0;
    z-index: 1;
  }
  /* line 103, ../scss/dashboard_new.scss */
  .two-col-container .col-2 .order-details {
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    margin: 0;
    height: 100%;
  }
  /* line 108, ../scss/dashboard_new.scss */
  .two-col-container .col-2 .mobile-header {
    display: block;
  }
}
