/*!
 *   Dispatch Board
 *   Author: Ravisher Dhillon
!*/
/*
 * Core: General Layout Style
 * -------------------------
 */

html, 
body {
    font-family: 'proxima-nova','Helvetica Neue',Arial,sans-serif;
    font-size: 12px;
    transition: padding-top .2s ease-in-out 0ms;    
    background: #dbdbdb;
}
.top-header {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 0;
    z-index: 53;
    width: calc(100% - 166px);
    margin-left: 166px;
    height: 50px;
    transition: margin-top .2s ease-in-out 0ms;
    background: #2388db;
    color: #fff;
}
.tenant {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    margin: 0;
    padding: 0px;
    padding: 0px 20px;
    width: 165px;
    /* border: 1px solid #fff; */
    background: #2388db   
}
.tenant__name {
    color: #fff;
    text-transform: uppercase;
}
.tenant__item {
    position: relative;
    font-size: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
    overflow: hidden;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;    
    margin: 0;
    list-style: none;    
}
.nav__actions {
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    align-items: center;
    margin: 0;
    padding: 0 17px;
    z-index: 53;
    height: 50px;        
}
.nav__actions__item {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;    
}

.link-button {
    border-radius: 0;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0;
    padding-right: 30px;
    height: 30px;
    line-height: 30px;
    transition: color .25s ease;
    background: none;
    box-shadow: none;
    overflow: visible;
    font-size: 15px;
    font-weight: 600;    
}

.link::before {
    height: 0;
    width: 0;
    content: "";
    display: block;
    margin-left: 6px;
    position: absolute;
    right: 13px;
    top: 12px;
    transition: border-top-color .25s ease;
    border-top: 6px solid hsla(0,0%,100%,.8);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;    
}

.nav__actions__item:hover {
   color: #fff;
}

.nav__actions__item:hover > .dropdown-menu__body {
    display: flex;
}
.open {
    display: flex;
}

.dropdown-menu__body {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: absolute;
    top: 30px;
    right: 0;
    min-width: 150px;
    margin-left: -75px;
    padding: 20px;
    background: hsla(0,0%,100%,.97);
    border-radius: 2px;
    font-weight: 600;
    overflow-y: auto;
    max-height: 400px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);    
}

.nav-bar {
    display: flex;
    flex: 0 0 auto;    
    background: rgba(13, 13, 13, 0.66);
    position: absolute;
    height: 100%;
}

.sidebar-menu {
    padding: 0px;
    background: #37414b;
}
.sidebar-menu__item {
    position: relative;
    list-style: none;
    line-height: 20px;
    border-top: 1px solid #37414b;
    border-bottom: 1px solid #1f262d;    
 }
.sidebar-menu__item:hover {
    background:    #2388db;   
 }
.active { /*revisit agin */
    /* background-color:#2388db; 
    border-bottom: 1px solid #27a9e3;
    border-top: 1px solid #27a9e3;
    */
}
.side-link-button {
    text-transform: none;
    letter-spacing: 0;
    line-height: 20px;
    transition: color .25s ease;
    background: none;
    box-shadow: none;
    overflow: visible;
    font-weight: 600;
    padding: 10px 0 10px 15px;
    display: block;
    color: #fff;
    text-decoration: none; 
}

.side-link-button.active {
    background: url('https://wrappixel.com/demos/free-admin-templates/matrix-admin/img/menu-active.png') no-repeat scroll right center transparent !important;
}
.dropdown-menu__item {
    position:relative;
    margin: 0;
    padding: 0;
    list-style: none;    
}

.dashboard {
    width: 100%;
}
.dashboard-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: calc(100% - 165px);
    padding-top: 70px;
    margin-left:165px;
}

.dashboard-header {
    margin: 0px 10px;    
    max-width: 1400px;    
}

.dashboard-header__title {
    padding: 2px;
    margin-bottom: 10px;
    color: #fff;   
}

.dashboard-header__box {
    background: #fff;
    border: 1px solid lightgrey;
    flex-basis: 24%;
    text-align: center;
}

.status--first {
    float: left;
    margin-right: 10px;
}

.status--last {
    margin-left: 120px;
}

.status__label {
    display: block;
    margin: 0 0 4px;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 8px;
    font-size: 11px;
    font-weight: 900;
    color: #999;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.table-wrapper__title {
    margin-top: 10px;
    text-align: center;
    margin: 0 0 4px;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 900;
    color: #999;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;     
}
.table-wrapper {
    background: #fff;
    margin: 10px;
}
.table-wrapper__header {
    display: flex;
    justify-content: space-around;
}

.header--error {
    background-color: #ed5e5a;
}
.header--success {
    background-color: #23db88;
}
.header--warning {
    background-color: orange;
}
.header--info {
    background-color: #2388db;
}
.action-btn {
    display: inline-block;
    position: relative;
    height: 34px;
    width: auto;
    margin: 0;
    padding: 0 13px;
    line-height: 34px;
    cursor: pointer;
    font-size: 13px;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid #2388db;
    border-radius: 3px;
    color: #2388db;
    background: #fff;
    transition: all .15s linear;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;    
}

.action-btn--medium-wide {
    width: 100px;
    font-size: 12px;
    padding: 0px;
    letter-spacing: 1px;    
}
.action-btn--medium-normal {
    width: 85px;
    font-size: 11px;
    padding: 0px;
    letter-spacing: 0px;
}
.action-btn:hover {
    background: #2388db;
    color: #fff;
    transition: all .15s linear;    
}

.table-wrapper__searchForm {
    display: flex;
    margin-left: -15px;
}

.search-box__icon {
    font-size: 16px;
    position: relative;
    top: 10px;
    left: 22px;
    color: #85939e;
    z-index: 3;    
}

.table-wrapper__search-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Proxima-Nova;
    padding-left: 34px;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    height: 36px;
    width: 327px;
    border: 1px solid #e8e9ea;
    border-radius: 2px;
    background-color: #fff;
}

.leg-information {
    display: flex;
    justify-content: space-between;
    font-family: 'proxima-nova','Helvetica Neue',Arial,sans-serif;
    font-size: 12px;
}
.msg-info {
    font-size: 20px;
    color: #999;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;    
}
.msg-warning {
    font-size: 12px;
    color: #ed5e5a;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;  
}

/* media query */
@media(min-width: 900px) {
    .dashboard-header {
        display: flex;
        justify-content: space-between;        
    }
}