*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.form-header {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}
.order-form {
    font-family: 'proxima-nova','Helvetica Neue',Arial,sans-serif;
    font-size: 12px;
}
.order-form__section {
    border: 1px solid #d3d3d3;
    margin: 2px;
    flex-basis: 60%;
}

.order-form__section__header {
    background-color: #d3d3d3;
    text-align: center;
    font-weight: 600;
}

.order-form__section__content {
    padding: 2px;
}

.order-form__fieldset {
    width: 325px;
}

.order-form-group {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.order-form-group--first {
    margin-top: 15px;
}

.form__label {
    font-size: 10px;
    font-weight: 500;
    opacity: .8;
    color: #2388db;
    pointer-events: none;
    position: absolute;
    transform: translate3d(6px, -15px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;   
}

.form__text {
    text-align: center;
}

.form__text--large {
    width: 180px;
}

.form__text--xlarge {
    width: 400px;
}
.order-form-group.focused .order-form-group__label {
    opacity: 1;
    transform: scale(0.75);
}

.order-form-group__dialog-btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.order-form__dialog-btn--flat {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-left: -4px;
    height: 23px;
    border: 1px solid transparent;
    padding: 5px;
    top: -1px; 
}

.order-form__data {
    margin-top: 15px;
}