/* summary boxes */
.left {
    float: left;
}
.text-primary {
    color: #3f51b5;
}
.text-bold {
    font-weight: bold;
}
.text-light {
    font-weight: 300;
}
.mb20 {
    margin-bottom: 20px;
}

.panel {
    border: 1px solid  ;
}
.page-dashboard .dash-head {
  background: #fff;
  border: 1px solid #f7f7f7;
  padding: 10px 20px;
  border-color: #e7e7e7;
}
.page-dashboard .mini-box {
  border: 0px;
}

.page-dashboard .mini-box .icon {
  margin-top: -15px;
  font-size: 43.2px;
}
.panel-footer {
    padding: 3px 22px;
    border-radius: 0px;
    font-weight: bold;
}
.panel-footer-primary {
    background: #3f51b5;
}
.panel-footer-success {
    background: #4caf50;
}
.panel-footer-info {
    background: #2196f3;
}
.panel-footer-pink {
    background: #e91e63;
}
.panel-footer-lg {
    font-size: 14px;
}
.panel-footer-sm .panel-footer-primary, .panel-footer-success, .panel-footer-warning, .panel-footer-danger, .panel-footer-info, 
.panel-footer-pink {
    color: #000;
    font-weight: bold
}

.table-status-links {
    float: right;
}

.action-button {
    border-radius: 20px;
    height: 19px;
    line-height: 5px;
    font-size: 10px;
    text-align: right;
    padding: 5px;
}

td > input[type="text"] {
    border: 1px solid blue;
    padding: 5px;
    width: 100%;
    border-radius: 5px
}

fieldset {
  border : 1px groove #CCC;
  border-radius: 5px;
  margin : 0;
  padding: 1em;
}
legend {
    width: inherit;
    font-size:18px;
    color: #F93E38;
    border-bottom: 0px;
    margin:5px;
}
.searchBox {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url(searchicon.png);
    /* background-position: 10px 10px; */
    padding: 2px;
    margin-bottom: 3px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
}


.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.float-left {
  float: left;
}

.float-right {
  float:  right;
}
.clear {
  clear: both;
  margin: 4px;
}
#frmOrder input[type='text'], input[type='textarea'] {
  margin: 4px 4px;
}
#frmOrder label {
  margin: 0 10px 0 70px;
}

#frmOrder input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
  line-height: 20px;
}

#frmOrder md-autocomplete {
  height: 28px;
}
#frmOrder md-autocomplete button {
  display: none;
}
#frmOrder button[type=button] {
  background-color: #2189de;
  color: #fff;
}
.form-section > .section-header {
  width: 100%;
  color: #231f20;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #D3D3D3;
  padding: 2px;
  text-align: left;
}
.form-section > .section-content {
    border: 2px solid #D3D3D3;
    padding: 5px;
    height: 85px;
}
#frmOrder {
  font-family: 'Helvetica, sans-serif';
}

#frmOrder > #loadSection, #rateSection, #containerSection, #chassisSection {
  width: 48%;
}

#frmOrder .txt-box-small {
  width: 100px;
}

#frmOrder .txt-box-medium {
  width: 196px;
}

#frmOrder .txt-box-large {
  width: 250px;
}

#frmOrder .txt-box-xlarge {
  width: 465px;
}
.dispatch-form {
    font-family: serif;
    font-size: 14px;
}

.dispatch-form input[type='text']:focus {
    border : 1px solid blue;
}

.dispatch-form button {
    border-radius: 20px;
    height: 23px;
    font-size: 12px;
    text-align: right;
    padding: 5px;
    margin: 1px;
}

.dispatch-form button > span {
    position: inherit;
}

.indent-small {
  margin-left: 5px;
}
.form-group.internal {
  margin-bottom: 0;
}

.dialog-panel {
  margin: 10px;
}

.datepicker-dropdown {
  z-index: 200 !important;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.panel-body {  
  
  background: #e5e5e5; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #e5e5e5 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font: 600 15px "Open Sans",Arial,sans-serif;
}

label.control-label {
  font-weight: 600;
  color: #777;  
}

#report > tbody > tr > td {
    padding: 2px;
    font-size: 11px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#report > thead > tr > th {
  text-align: center;
}
.btn-table {
	padding: 5px;
	border-radius: 4px;
}
#report td.details-control {
    background: url('../images/details_open.png') no-repeat center;
    cursor: pointer;
}
#report td.shown {
    background: url('../images/details_close.png') no-repeat center center;
} 


.edit-table td {
    width: 85px;
}
/*.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
}*/
.shortcuts {
    text-align: center; 
}

.shortcuts .shortcut { 
    width: 25%;
    display: inline-block;
    padding: 12px;
    margin: 0 .9% 1em;
    vertical-align: top;    
    text-decoration: none;
    background: #2189de;
    border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 20px;
    color: #fff;
}

.shortcuts .shortcut:hover {
    background: #00ba8b;
}

.shortcuts .shortcut:hover span{
    color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
    color: #fff;
}

.shortcuts .shortcut-label {
    font-weight: 400;
    color: #fff;
}
.custom-pagination {
    margin: 0;
    padding: 0;
}
.inputBox {
    padding: 8px;
    border: 1px solid rgb(33,137,222);
    border-radius: 5px;   
}
.inputBox-sm {
    width: 100px;
    border: 1px solid rgb(33,137,222);
    border-radius: 5px;    
}
.compact-form {
  padding: 2px;
}
.form {
    background-color: #fff;
    padding: 5px;
}
.form .row {
    padding:5px;
}
fieldset {
  border : 1px groove #CCC;
  margin : 0;
  padding: 2px;
}
legend {
    width: inherit;
    font-size: 14px;
    color: black;
    border-bottom: 0px;
    margin: 5px;
}
.form-header {
    display: block;
    /* border: 1px solid; */
    background-color: rgb(33,137,222);
    color: #fff;
    /* margin-top: 0px; */
    padding: 2px;
    height: 28px;
    margin-bottom: 10px;
}
.custom-md-autocomplete {
    border-radius: 2px;
    display: block;
    height: 40px;
    position: relative;
    overflow: visible;
    width: 10px;
}

.dropdown-toggle {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.order-status-common {
  color: #000;
  padding: 4px;
  border-radius: 5px;
}
.status-open {
    background: #F7BE81;
}
.status-progress {
    background: #8181F7;
}
.status-progress-started {
    background: #81BEF7;
}
.status-progress-halted {
    background: #FF0000;
}
.status-complete {
    background: #81F781;
}
#new-order-button {
  width: 100%;
  color: #fff;
  background-color: #2189de;
  display: inline-block;
  height: 32px;
  border-radius: 2px;
  text-transform: none;
  min-width: inherit!important;
  transition: all .2s linear 0ms;
  margin-top: -3px;
  letter-spacing: 0;
  border: 1px solid #fff;
}
.status-button {
    display: inline-block;
    height: 34px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);    
    text-transform: none;
    background: #fff;
    min-width: inherit!important;
    transition: all .2s linear 0ms;
    margin-top: -3px;
    letter-spacing: 0;
    font-size: 13px;
    text-transform: uppercase;
}

/*.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; 
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; 
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; 
}

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; 
}

*/

#pricing-table {
  margin: 100px auto;
  text-align: center;
  width: 892px; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
  font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  text-shadow: 0 1px rgba(255,255,255,.8);        
  background: #fff;      
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
  float: left;
  position: relative;
}

#pricing-table #most-popular {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;        
}

/* --------------- */ 

#pricing-table h3 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  margin: -20px -20px 50px -20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee,#ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: -ms-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  margin-top: -30px;
  padding-top: 30px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;     
}

#pricing-table .plan:nth-child(1) h3 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;       
} 

#pricing-table h3 span {
  display: block;
  font: bold 25px/100px Georgia, Serif;
  color: #777;
  background: #fff;
  border: 5px solid #fff;
  height: 100px;
  width: 100px;
  margin: 10px auto -65px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

#pricing-table li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

/* --------------- */
  
#pricing-table .signup {
  position: relative;
  padding: 8px 20px;
  margin: 20px 0 0 0;  
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;       
  background-color: #72ce3f;
  background-image: -moz-linear-gradient(#72ce3f, #62bc30);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
  background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
  background-image: -o-linear-gradient(#72ce3f, #62bc30);
  background-image: -ms-linear-gradient(#72ce3f, #62bc30);
  background-image: linear-gradient(#72ce3f, #62bc30);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;     
  text-shadow: 0 1px 0 rgba(0,0,0,.3);        
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
  background-color: #62bc30;
  background-image: -moz-linear-gradient(#62bc30, #72ce3f);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
  background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
  background-image: -o-linear-gradient(#62bc30, #72ce3f);
  background-image: -ms-linear-gradient(#62bc30, #72ce3f);
  background-image: linear-gradient(#62bc30, #72ce3f); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
  background: #62bc30;       
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

.nolegSlider {
  position: fixed;
  bottom: 0;
  right: -40%;
  width: 40%;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  transition: transform 1.5s ease;
  backface-visibility: hidden;    
}

.legSlider {
  right: 0;
  position: fixed;
  bottom: 0;
  top: 0;
  color: #fff;
  width:40%;
  background-color: #434343;
  overflow-y: scroll;
   -ms-flex-flow: column nowrap;

    flex-flow: column nowrap;

    -ms-flex-align: start;

    -ms-grid-row-align: flex-start;

    align-items: flex-start;

    backface-visibility: hidden;    

}
.legSlider > div:first-of-type {
  margin-top: 20%;
}
.has-push-right {

transform: translate(-20%);

opacity: .3

}
/* login box */
/*
margin: 0 auto;
    width: 340px;
    background-color: #F1F1F1;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px 30px 0;
    border: 1px solid #dddddd;
    border-width: 1px 1px 0 1px;

tyle {
}
.panel-login__footer {
    margin: 0 auto;
    width: 340px;
    padding: 0 30px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(241,241,241,0.85);
    border: 1px solid #dddddd;
    border-width: 0 1px 1px 1px;    
*/