/* line 4, ../scss/home.scss */
html, body, .animate-fade-up.ng-scope, .main-header, body > .app-wrapper, .home-container {
  height: 100%;
}

/* line 8, ../scss/home.scss */
body {
  -moz-transition: opacity 1000ms ease-in-out;
  -o-transition: opacity 1000ms ease-in-out;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
  color: #5a5a5a;
  font-family: "Lato","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* line 13, ../scss/home.scss */
body hr {
  margin: 0;
}
/* line 17, ../scss/home.scss */
body #home-container {
  opacity: 1;
}
/* line 20, ../scss/home.scss */
body #home-container.show {
  opacity: 1;
}

/* line 26, ../scss/home.scss */
.lead {
  font-weight: 400;
}

/* line 31, ../scss/home.scss */
.marketing .col-lg-6 {
  margin-bottom: 20px;
  text-align: center;
}

/* line 35, ../scss/home.scss */
.marketing h2 {
  font-weight: normal;
}

/* line 38, ../scss/home.scss */
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* line 45, ../scss/home.scss */
small {
  margin-left: 5px;
}

/* line 50, ../scss/home.scss */
.learn-more-btn {
  margin-top: 30px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* line 59, ../scss/home.scss */
.section-heading {
  margin: 0;
  text-align: center;
  font-width: bold;
}

/* line 64, ../scss/home.scss */
.section-heading::after {
  display: block;
  width: 80px;
  content: "";
  height: 1px;
  background: #2b2b2b;
  margin: 22px auto 50px auto;
}

/* line 74, ../scss/home.scss */
.center {
  text-align: center;
}

/* line 78, ../scss/home.scss */
.line-break {
  display: block;
}

/* line 82, ../scss/home.scss */
a.unstyled {
  color: inherit;
}

/* line 87, ../scss/home.scss */
.bg-wrapper {
  padding: 80px 0;
}

/* line 91, ../scss/home.scss */
.external-links a {
  display: inline-block;
}

/* line 95, ../scss/home.scss */
.external-links a.has-border::after {
  display: inline-block;
  width: 1px;
  content: "";
  height: 15px;
  background: #5a5a5a;
  margin: 3px 10px;
  float: right;
}

/* line 107, ../scss/home.scss */
#home {
  height: 100%;
  background: url("../dist/images/background/truck-bg.jpg") no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  z-index: 2;
  color: #fff;
}
/* line 118, ../scss/home.scss */
#home .bg-wrapper {
  height: 100%;
  padding: 0;
  background: rgba(0, 0, 0, 0.1);
}
/* line 123, ../scss/home.scss */
#home .bg-wrapper .container {
  height: 100%;
}
/* line 126, ../scss/home.scss */
#home .bg-wrapper .container div.row {
  position: relative;
  top: 38%;
}
/* line 133, ../scss/home.scss */
#home h2 {
  font-size: 36px;
  font-weight: 100;
  font-variant: normal;
  text-transform: uppercase;
  margin-top: 100px;
}
/* line 140, ../scss/home.scss */
#home h2 strong {
  font-weight: 400;
  color: #FFFF00;
}
/* line 146, ../scss/home.scss */
#home h3 {
  font-size: 20px;
  text-transform: uppercase;
}
/* line 151, ../scss/home.scss */
#home .learn-more-btn {
  background-image: none;
  background-color: #5491da;
  border-color: #fff;
  color: #fff;
  font-size: 18px;
  padding: 7px 50px;
}

@media (max-width: 767px) {
  /* line 168, ../scss/home.scss */
  #home .bg-wrapper .container div.row {
    top: 20%;
  }
  /* line 171, ../scss/home.scss */
  #home .bg-wrapper .container div.row h2 {
    font-size: 30px;
  }
  /* line 174, ../scss/home.scss */
  #home .bg-wrapper .container div.row h3 {
    font-size: 18px;
  }
}
@media (max-height: 300px) {
  /* line 188, ../scss/home.scss */
  #home .bg-wrapper .container div.row {
    top: 10%;
  }
  /* line 191, ../scss/home.scss */
  #home .bg-wrapper .container div.row h2 {
    font-size: 22px;
  }
  /* line 194, ../scss/home.scss */
  #home .bg-wrapper .container div.row h3 {
    font-size: 15px;
  }
}
