/* line 3, ../scss/signup.scss */
html, body, .animate-fade-up.ng-scope, .main-header, body > .app-wrapper {
  height: 100%;
}

/* line 7, ../scss/signup.scss */
#signup {
  background: url("../dist/images/background/truck-bg.jpg") no-repeat scroll center bottom/cover;
  color: #fff;
  font-size: 14px;
  height: 100%;
}
/* line 13, ../scss/signup.scss */
#signup .bg-wrapper {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  height: 100%;
}
/* line 19, ../scss/signup.scss */
#signup .form-title h1, #signup .form-title h2 {
  text-align: center;
}
/* line 24, ../scss/signup.scss */
#signup .form-container {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #eee;
  margin: 50px 75px;
}
/* line 29, ../scss/signup.scss */
#signup .form-container #alert-message {
  font-size: 14px;
}
/* line 33, ../scss/signup.scss */
#signup .form-container .form-container-wrapper {
  padding: 35px 50px;
}
/* line 38, ../scss/signup.scss */
#signup .form-container .alert-container .alert {
  padding: 7px 35px 7px 15px;
}
/* line 44, ../scss/signup.scss */
#signup .form-container .join-form .form-control {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: auto;
  width: 100%;
  font-size: 16px;
  height: 40px;
}
/* line 55, ../scss/signup.scss */
#signup .form-container .join-form .btn-primary {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
  background: #0093dd;
  border: 0;
}
/* line 63, ../scss/signup.scss */
#signup .form-container .sign-link {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
}
/* line 69, ../scss/signup.scss */
#signup .form-container hr {
  border-color: #aaa;
}
/* line 73, ../scss/signup.scss */
#signup .form-container .btn-info {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
  border: 0;
}
/* line 80, ../scss/signup.scss */
#signup .password-help {
  color: #333;
}
/* line 83, ../scss/signup.scss */
#signup .password-help .conditions {
  margin-left: 10px;
  margin-bottom: 15px;
}
/* line 87, ../scss/signup.scss */
#signup .password-help .conditions li {
  margin-bottom: 5px;
}
/* line 89, ../scss/signup.scss */
#signup .password-help .conditions li span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 93, ../scss/signup.scss */
#signup .password-help .conditions li span.glyphicon {
  padding-top: 3px;
}
/* line 98, ../scss/signup.scss */
#signup .password-help .conditions .condition {
  margin-left: 5px;
  width: 90%;
}
/* line 103, ../scss/signup.scss */
#signup .password-help .conditions .glyphicon {
  display: none;
}
/* line 106, ../scss/signup.scss */
#signup .password-help .conditions .invalid {
  color: #a94442;
}
/* line 109, ../scss/signup.scss */
#signup .password-help .conditions .invalid .glyphicon-remove {
  display: inline-block;
}
/* line 114, ../scss/signup.scss */
#signup .password-help .conditions .valid {
  color: #3c763d;
}
/* line 117, ../scss/signup.scss */
#signup .password-help .conditions .valid .glyphicon-ok {
  display: inline-block;
}

@media (max-width: 768px) {
  /* line 128, ../scss/signup.scss */
  #signup .bg-wrapper {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  }
  /* line 132, ../scss/signup.scss */
  #signup .form-container {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    margin: 20px 0;
  }
  /* line 137, ../scss/signup.scss */
  #signup .form-container .form-container-wrapper {
    padding: 0;
  }
  /* line 142, ../scss/signup.scss */
  #signup .form-container .form-container-wrapper .join-form .form-group {
    margin: 1px;
  }
  /* line 145, ../scss/signup.scss */
  #signup .form-container .form-container-wrapper .join-form .form-control {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    height: auto;
    font-size: 18px;
  }
  /* line 151, ../scss/signup.scss */
  #signup .form-container .form-container-wrapper .join-form .form-control:focus {
    border: 0;
  }
  /* line 157, ../scss/signup.scss */
  #signup .form-container .form-container-wrapper .join-form .btn-primary {
    margin-top: 15px;
  }
  /* line 161, ../scss/signup.scss */
  #signup .form-container .form-container-wrapper .join-form .password-help {
    background-color: #fff;
    margin: 0 1px;
    padding: 10px;
  }
}
