@import "compass";

body, html {
  height: 100%;
}

.two-col-container {
  height: calc(100% - 0px);

  .mobile-header {
    display: none;

    .back-button {
      padding: 0;
      margin: 0;
    }

  }

  .top-row {
    background-color: #fafafa;
    height: 100%;
  }
  .col {
    height: 100%;

  }

  .col-1 {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid rgba(0,0,0, 0.1);

  }
  .orders-list {

    .order-item {
      @include transition(background-color 0.5s ease-in-out);
      background-color: #fafafa;
      border-bottom: 1px solid rgba(0,0,0, 0.1);
      cursor: pointer;

      &.selected, &:hover {
        background-color: #eeeeee;
      }

      &:last-child {
        border: 0;
      }

      .order-container {
        padding: 15px;
      }
    }
  }

  .order-details {
    @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    @include border-radius(2px);
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width: 767px) {
  .two-col-container {
    position: relative;

    .col-1 {
      @include transition(opacity 0.25s ease-in-out);
      opacity: 1;
      z-index: 9;

      &.bury {
        opacity: 0;
        z-index: 1;
      }
    }

    .col-2 {
      @include transition(opacity 0.25s ease-in-out);
      margin: 0;
      padding:0;
      opacity: 1;
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      z-index: 9;

      &.bury {
        opacity: 0;
        z-index: 1;
      }

      .order-details {
        @include box-shadow(0);
        margin: 0;
        height: 100%;
      }
      .mobile-header {
        display: block;
      }
    }
  }
}