@import "compass";


html, body, .animate-fade-up.ng-scope, .main-header, body > .app-wrapper, .home-container {
  height: 100%;
}

body {
  @include transition(opacity 1000ms ease-in-out);
  color: #5a5a5a;
  font-family: "Lato","Helvetica Neue","Helvetica","Arial",sans-serif;

  hr {
    margin: 0;
  }

  #home-container {
    opacity: 1;

    &.show {
      opacity: 1;
    }
  }
}

.lead {
  font-weight: 400;
}


.marketing .col-lg-6 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}



small {
  margin-left: 5px;
}


.learn-more-btn {
  margin-top: 30px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */



.section-heading {
  margin:0;
  text-align: center;
  font-width: bold;
}
.section-heading::after {
  display: block;
  width: 80px;
  content: "";
  height: 1px;
  background: #2b2b2b;
  margin: 22px auto 50px auto;

}

.center {
  text-align: center;
}

.line-break {
  display: block;
}

a.unstyled {
  color: inherit;
}


.bg-wrapper {
  padding: 80px 0;
}

.external-links a {
  display: inline-block;
}

.external-links a.has-border::after {
  display: inline-block;
  width: 1px;
  content: "";
  height: 15px;
  background: rgb(90,90,90);
  margin: 3px 10px;
  float: right;

}


#home {

  height: 100%;
  background: url("../dist/images/background/truck-bg.jpg") no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  z-index: 2;

  color: #fff;

  .bg-wrapper {
    height: 100%;
    padding: 0;
    background: rgba(0,0,0,0.10);

    .container {
      height: 100%;

      div.row {
        position: relative;
        top: 38%;
      }
    }
  }

  h2 {
    font-size: 36px;
    font-weight: 100;
    font-variant: normal;
    text-transform: uppercase;
    margin-top: 100px;

    strong {
      font-weight: 400;
      color: #FFFF00;
    }
  }

  h3 {
    font-size: 20px;
    text-transform: uppercase;
  }

  .learn-more-btn {
    background-image: none;
    background-color: rgb(84,145,218);
    border-color: #fff;
    color: #fff;
    font-size:18px;
    padding: 7px 50px;
  }

}


@media (max-width: 767px) {

  #home {
    .bg-wrapper {
      .container {
        div.row {
          top: 20%;

          h2 {
            font-size: 30px;
          }
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-height: 300px) {

  #home {
    .bg-wrapper {
      .container {
        div.row {
          top: 10%;

          h2 {
            font-size: 22px;
          }
          h3 {
            font-size: 15px;
          }
        }
      }
    }
  }
}
