@import "compass";

html, body, .animate-fade-up.ng-scope, .main-header, body > .app-wrapper {
  height: 100%;
}

#signup {
  background: url("../dist/images/background/truck-bg.jpg")  no-repeat scroll center bottom / cover;
  color: #fff;
  font-size: 14px;
  height: 100%;

  .bg-wrapper {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    height: 100%;
  }

  .form-title {
    h1, h2 {
      text-align: center;
    }
  }

  .form-container {
    @include border-radius(2px);
    background: #eee;
    margin: 50px 75px;

    #alert-message {
      font-size: 14px;
    }

    .form-container-wrapper {
      padding: 35px 50px;
    }

    .alert-container {
      .alert {
        padding: 7px 35px 7px 15px;
      }
    }

    .join-form {
      .form-control {
        @include border-radius(2px);
        height: auto;
        width: 100%;
        font-size: 16px;

          height: 40px;

      }


      .btn-primary {
        @include border-radius(0);
        width: 100%;
        background: #0093dd;
        border:0;
      }
    }

    .sign-link {
      text-align: center;
      margin: 10px 0 0 0;
      padding: 0;
    }

    hr {
      border-color: #aaa;
    }

    .btn-info {
      @include border-radius(0);
      width: 100%;
      border:0;
    }
  }

  .password-help {
    color: #333;

    .conditions {
      margin-left: 10px;
      margin-bottom: 15px;

      li {
        margin-bottom: 5px;
        span {
          @include inline-block();
          vertical-align: top;

          &.glyphicon {
            padding-top: 3px;
          }
        }
      }
      .condition {
        margin-left: 5px;
        width: 90%;
      }

      .glyphicon {
        display: none;
      }
      .invalid {
        color: #a94442;

         .glyphicon-remove {
          display: inline-block;
        }
      }

      .valid {
        color: #3c763d;

        .glyphicon-ok {
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #signup {

    .bg-wrapper {
      background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    }

    .form-container {
      @include border-radius(0);
      background: transparent;
      margin: 20px 0;

      .form-container-wrapper {
        padding: 0;

        .join-form {

          .form-group {
            margin: 1px;
          }
          .form-control {
            @include border-radius(0);
            border: 0;
            height: auto;
            font-size: 18px;

            &:focus {

              border: 0;
            }
          }

          .btn-primary {
            margin-top: 15px;
          }

          .password-help {
            background-color: #fff;
            margin: 0 1px;
            padding: 10px;
          }
        }
      }
    }
  }
}