<div class='form-header clearfix'>New Driver Form</div>
<form  name="driverForm" class="dispatch-form form-horizontal form">
    <div class="row">

        <div class="col-sm-3">
            <input class='form-control' ng-model="driver.firstName" type="text" placeholder="FirstName" 
            name="firstName" required style="float:left">
             	
            <div class="field-message" ng-messages="driverForm.firstName.$error" ng-if='driverForm.lastName.$dirty' ng-cloak>
                <div ng-message="required">Driver FirstName is required</div>
            </div>              
        </div>
        <div class="col-sm-3">
            <input class='form-control' ng-model="driver.lastName" type="text" placeholder="LastName" name="lastName" required>
            <div class="field-message" ng-messages="driverForm.firstName.$error" ng-if='driverForm.lastName.$dirty' ng-cloak>
                <div ng-message="required">Driver LastName is required</div>
            </div>            
        </div>                    
        <div class="col-sm-3">
            <input class='form-control' type="email" ng-model="driver.email" placeholder="info@example.com" type="email" name="email">
          
        </div>
        <div class="col-sm-3">
            <input class='form-control' ng-model="driver.phone" type="tel" name="phone" ng-minlength="10" placeholder="Phone (10 digits)" ng-maxlength="10" maxlength="10" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
        </div>
            <div class="field-message" ng-messages="driverForm.phone.$error" ng-if='driverForm.phone.$dirty' ng-cloak>
              <div ng-message="required">Phone number is required</div>
              <div ng-message="pattern">Please provide valid US phone number.</div>
              <div ng-message="minlength">Phone must be 10 digit US phone #</div>
              <div ng-message="maxlength">Phone must be 10 digit US phone #</div>
            </div>                
    </div>
    <fieldset>
        <legend class='legend-heading'>ADDRESS</legend>
            <div class="row">
                <div class="col-sm-5">
                    <input class='form-control' ng-model="driver.street" placeholder="Street" type="text" >
                </div>
                <div class="col-sm-3">
                    <input class='form-control' ng-model="driver.city" placeholder="City" type="text" >
                </div>
                <div class="col-sm-3">
                    <select class='form-control' ng-model="driver.state">
                        <option value="">Select State</option>
                        <option ng-repeat="state in getStates()" value="{{state}}">{{state}}</moption>
                    </select> 
                </div>
            </div>
            <div class="row">    
                <div class="col-sm-3">
                    <input class='form-control' ng-model="driver.zipcode" placeholder="ZipCode" type="text" >
                </div>                            
                <div class="col-sm-4">
                    <input class='form-control' ng-model="driver.country" type="text" >
                </div>
            </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-9">
            <fieldset>
                <legend class='legend-heading'>Licence Information</legend>
                    <div class="col-sm-3">
                        <input class='form-control' ng-model="driver.licenceNumber" type="text" name="licence" required placeholder="Licence #">
                    
                        <div class="field-message" ng-messages="driverForm.licence.$error" ng-if='driverForm.licence.$dirty' ng-cloak>
                            <div ng-message="required">Driver Licence# is required</div>
                        </div>
                    </div>            
                    <div class="col-sm-3">
                        <select class='form-control' ng-model='driver.licenceState'  >
                            <option value=''>Issue State</option>
                            <option ng-repeat='state in getStates()'
                                value="{{state}}">{{state}}
                            </option>
                        </select>            
                    </div>
                    <div class="col-sm-5">
                        <input class='form-control' ng-model="driver.licenceExpDate" type="date" name="expiryDate" required placeholder="ExpiryDate">
                        <div class="field-message" ng-messages="driverForm.expiryDate.$error" ng-if='driverForm.expiryDate.$dirty' ng-cloak>
                            <div ng-message="required">Driver Licence Expiry date is required</div>
                        </div>                
                    </div>                    
            </fieldset>
        </div>
        <div class="col-sm-3">
            <fieldset>
                <legend class='legend-heading'>Owner Operator</legend>
                    <input ng-init="driver.isOwnerOperator='Yes'"  type="radio" ng-model="driver.isOwnerOperator" name="DriverType" value="Yes" style="margin:6px">Yes
                    <input type="radio" ng-model="driver.isOwnerOperator" name="DriverType" value="No" style="margin:6px">No                
            </fieldset>    
        </div>
    </div>

    <div class='row'>
        <div class="col-sm-2">
        <input type="submit" class="btn btn-lg btn-primary" value="Save" ng-disabled="driverForm.$invalid" ng-click="driverForm.$valid && ok() && closeThisDialog(0);" >
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-lg btn-default" value="Reset" type="reset">
        </div>
    </div>        
</form>