<div class="dashboard-content">
    <div class='dashboard-data'>
        <div class='table-wrapper'>
            <div class="table-wrapper__title">
                <h4>Drivers</h4>
            </div>
            <div class='table-wrapper__header'>
                <div>
                    <button class="action-btn btn--large" ng-click="addDriver()"> ADD NEW DRIVER </button>
                </div>
                 <div class="table-wrapper__searchForm">
                    <i class="search-box__icon fa fa-search"></i>
                    <input class="table-wrapper__search-box search-box__input" type="search" data-ng-model="searchKeywords" placeholder="Find Broker" required="" />
                </div>
            </div>
            <table class="table-order table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Licence</th>
                        <th>OwnerOperator</th>
                        <th>Available</th>
                        <th>Rate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="driver in currentPageList" ng-include="getTemplate(driver)">
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6 page-num-info">
                <span>Show
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select>
                    entries per page
                </span>
                </div>
                <div class="col-md-6 pull-right text-right btn-group">
                    <pagination class="pagination-sm custom-pagination"
                                ng-model="currentPage"
                                total-items="filtereddrivers.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="display">
            <td>{{driver.name | uppercase}}</td>
            <td>{{driver.phone}}</td>
            <td>{{driver.street}} {{driver.city}}, {{driver.state}}. {{driver.zip}}</td>
            <td>{{driver.licenceNumber}}</td>
            <td>{{driver.isOwnerOperator}}</td>
            <td>{{driver.isAvailable}}</td>
            <td>{{driver.rate | currency}}</td>

            <td>
                <span class="glyphicon glyphicon-pencil" ng-click="edit(driver)"></span>
                <span class="glyphicon glyphicon-trash" ng-click="delete(driver,$index)"></span>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td>{{driver.name}}</td>
            <td><input type="text" ng-model="selected.phone" /></td>
            <td><input type="text" ng-model="selected.address" /></td>
            <td><input type="text" ng-model="selected.licenceNumber" /></td>
            <td><input type="text" ng-model="selected.isOwnerOperator" /></td>
            <td><input type="text" ng-model="selected.available" disabled/></td>
            <td><input type="text" ng-model="selected.rate" /></td>
            <td >
                <span class="glyphicon glyphicon-floppy-saved" ng-click="updatedriver($index)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="reset()"></span>
            </td>
        </script>
    </div>
</div>
