	<div  id="main">
    	<!-- header -->
    	<header>
        	<div class="topBar">
            <div class="container">
            	<div class="row">
                	<div class="col-xs-12 col-md-8">
                    	<ul class="email_Tfn">
                        	<li><span class="glyphicon glyphicon-phone-alt text-primary"></span> CALL FREE +123-456-789-000</li>
                            <li><span class="glyphicon glyphicon-envelope text-primary"></span> <a href="mailto:support@websitename.com">support@websitename.com</a></li>
                            <li><span class="glyphicon glyphicon-time text-primary"></span> Mon - Sat : 9AM - 6PM</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-2">
                    	<ul class="loginBtn">
                        	<li><a href="#/signin"> <span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <ul class="loginBtn">
                            <li><a href="#/signup"> <span class="glyphicon glyphicon-log-in"></span> REGISTER</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>

            <nav class="navbar">
            	<div class="container">
                	<div class="navbar-header">
                    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        	<span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img class="logo" src="images/logo.png" align="Logo"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                    	<ul class="nav navbar-nav customNav navbar-right">
                        	<li class="active"><a href="#">Home</a></li>
                            <li><a href="home#plans">Services</a></li>
                            <li><a href="#AboutUs">About Us</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>



        </header>

       
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        	<div class="carousel-inner">
            	<div class="item active" style="background:url(images/service2.jpg); background-size:cover; min-height:525px;">
                	<div class="container">
                    	<div class="row">
                        	<div class="col-md-12 carousel-inner-text">
                            	<h1 class="bigTextSize">One stop Solution <br> Your Transport <br> Requirements</h1>
                                <div class="smallTextSize"><a href="#">Explore Our Services</a></div>

                            </div>
                        </div>
                    </div>
                </div>

               <div class="item" style="background:url(images/service3.jpg); background-size:cover; min-height:525px;">
                	<div class="container">
                    	<div class="row">
                        	<div class="col-md-12 carousel-inner-text">
                            	<h1 class="bigTextSize">One stop Solution <br> Your Transport <br> Requirements</h1>
                                <div class="smallTextSize"><a href="#">Explore Our Services</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- serives section -->
       	<div id="plans" class="services">
<!--         	<div class="container">
            	<div class="row">
                	<div class="col-xs-12 col-md-12">
                    	<div class="heading">
                            <span>LOGISTIC SERVICES</span>
                            <h2>OUR SERVICES</h2>
                        </div>
                    </div>
                </div>
            	<div class="row">
            	<div class="col-md-4">
                	<div class="block">
                	<div><img class="img-responsive" src="images/service1.jpg" alt="Service 1"></div>
                    <div class="innerWrap">
                    	<h3 class="headingText">Load Dispatch Management</h3>
                        <div class="textColor">We deal with all types of loads (Dry, Refer). We have a dedicated team to make sure that handling and dispatching load.</div>
                        <div class="readMore"><a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a></div>

                    </div>
                    </div>
                </div>

                <div class="col-md-4">
                	<div class="block">
                	<div><img class="img-responsive" src="images/service2.jpg" alt="Service 1"></div>
                    <div class="innerWrap">
                    	<h3 class="headingText">Load Dispatch Management</h3>
                        <div class="textColor">We deal with all types of loads (Dry, Refer). We have a dedicated team to make sure that handling and dispatching load.</div>
                        <div class="readMore"><a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a></div>

                    </div>
                    </div>
                </div>

                <div class="col-md-4">
                	<div class="block">
                	<div><img class="img-responsive" src="images/service3.jpg" alt="Service 1"></div>
                    <div class="innerWrap">
                    	<h3 class="headingText">Load Dispatch Management</h3>
                        <div class="textColor">We deal with all types of loads (Dry, Refer). We have a dedicated team to make sure that handling and dispatching load.</div>
                        <div class="readMore"><a href="#">Read more <span class="glyphicon glyphicon-chevron-right"></span></a></div>

                    </div>
                    </div>
                </div>

                </div>

                	<br><br><br>

                <div class="row">
                	<div class="col-xs-12 col-md-4">
                    	<div class="heading">
                            <span>AMAZING FEATURES</span>
                            <h2>WE OFFER QUICK & POWERFUL SOLUTION FOR TRANSPORT</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in ante magna. Quisque sodales, exid fermentum tempor.</p>
                        <div class="smallTextSize"><a href="#">More Info</a></div>
                    </div>

                    <div class="col-xs-12 col-md-8">
                    	<div class="row">
                        	<div class="col-md-6">
                            	<div class="block">
                                <div class="titleName">
                                	<i class="icons"><img src="images/icon-truck.png" alt="Truck"></i>
                                    <div class="title">FAST TRUCK DISPATCH</div>
                                    <p>Lorem ipsum dolor sit amet, cons ctetur adipiscing elit. Aenean in ante magna. Quisque</p>

                                </div>




                        </div>
                            </div>

                            <div class="col-md-6">
                            	<div class="block">
                                <div class="titleName">
                                	<i class="icons"><img src="images/icon-load.png" alt="Clock"></i>
                                    <div class="title">Load Management</div>
                                    <p>Lorem ipsum dolor sit amet, cons ctetur adipiscing elit. Aenean in ante magna. Quisque</p>

                                </div>




                        </div>
                            </div>
                        </div>

                        <div class="row">
                        	<div class="col-md-6">
                            	<div class="block">
                                <div class="titleName">
                                	<i class="icons"><img src="images/icon-operator.png" alt="Operator"></i>
                                    <div class="title">Owner Operators</div>
                                    <p>Lorem ipsum dolor sit amet, cons ctetur adipiscing elit. Aenean in ante magna. Quisque</p>

                                </div>




                        </div>
                            </div>

                            <div class="col-md-6">
                            	<div class="block">
                                <div class="titleName">
                                	<i class="icons"><img src="images/icon-watch.png" alt="Clock"></i>
                                    <div class="title">TIMELY DELIVERY</div>
                                    <p>Lorem ipsum dolor sit amet, cons ctetur adipiscing elit. Aenean in ante magna. Quisque</p>

                                </div>




                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class='container'>
                <div id="pricing-table" class="clear">
                    <div class="plan">
                        <h3>Enterprise<span>$59</span></h3>
                        <a class="signup" href="">Sign up</a>         
                        <ul>
                            <li><b>10GB</b> Disk Space</li>
                            <li><b>100GB</b> Monthly Bandwidth</li>
                            <li><b>20</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul> 
                    </div>
                    <div class="plan" id="most-popular">
                        <h3>Professional<span>$29</span></h3>
                        <a class="signup" href="">Sign up</a>        
                        <ul>
                            <li><b>5GB</b> Disk Space</li>
                            <li><b>50GB</b> Monthly Bandwidth</li>
                            <li><b>10</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul>    
                    </div>
                    <div class="plan">
                        <h3>Standard<span>$17</span></h3>
                        <a class="signup" href="">Sign up</a>
                        <ul>
                            <li><b>3GB</b> Disk Space</li>
                            <li><b>25GB</b> Monthly Bandwidth</li>
                            <li><b>5</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul>
                    </div>
                    <div class="plan">
                        <h3>Basic<span>$9</span></h3>
                        <a class="signup" href="">Sign up</a>       
                        <ul>
                            <li><b>1GB</b> Disk Space</li>
                            <li><b>10GB</b> Monthly Bandwidth</li>
                            <li><b>2</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul>
                    </div>  
                </div>
            </div>            
        </div>

        <!--  About Company-->
        <section class="newportinfo">
        	<div class="row1 clearfix">
            <div class="col-md-6" style="padding-left:0px; padding-right:0px; float:right;">
               <div class="block4">
               	<div class="heading">
                            <span>LITTLE ABOUT US</span>
                            <h2 style="color:#FFF">ABOUT Newport Carrier</h2>
                        </div>

                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elem entum tempor. Duis porta lectus ut dui consequat, ut porttitor sapien bibend um. Nulla sagittis, turpis sit amet feugiat pretium, tellus tortor aliquam nibh, et consectetur nunc odio at dolor.</p>




               </div>

               <div class="custom-message">
                	<div class="messagearea">
                    	Integer quis convallis dui, ac dignissim eros. Class aptent tacit sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pharetra lorem non lorem pharetra.
                    </div>

                    <h4>OUR MISSION STATEMENT</h4>
                    <p>MESSAGE FROM THE DESK OF OUR MANAGING DIRECTOR </p>
                </div>





                </div>
             </div>
        </section>

        <!-- testimonialsection  -->
        <section id="AboutUs" class="testimonialsection">
        	<div class="container">
            	<div class="row">
                	<div class="col-xs-12 col-md-12">
                    	<div class="heading">
                            <span>WHAT PEOPLE SAY</span>
                            <h2>TESTIMONIALS</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                	<div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
                <li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                	<div class="col-xs-12">
                           <figure class="clearfix">


                               <div class="col-md-6 col-xs-12">
                               		<div class="testimonial-block">
                                    <figcaption class="caption">
                                        <p><img src="images/qoute-icon.png" alt="qaoute"></p>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s </p>
                                        <blockquote class="no-margin">
                                            <p>John Doe</p> <small><cite title="Source Title"> Senior Manager</cite></small> </blockquote>
                                    </figcaption>
                                    </div>
                               </div>


                               <div class="col-md-6 col-xs-12">
                               		<div class="testimonial-block">
                                    <figcaption class="caption">
                                        <p><img src="images/qoute-icon.png" alt="qaoute"></p>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s </p>
                                        <blockquote class="no-margin">
                                            <p>John Doe</p> <small><cite title="Source Title"> Senior Manager</cite></small> </blockquote>
                                    </figcaption>
                                    </div>
                               </div>
                           </figure>
                        </div>
                </div>

                <div class="item">
                	<div class="col-xs-12">
                           <figure class="clearfix">


                               <div class="col-md-6 col-xs-12">
                               		<div class="testimonial-block">
                                    <figcaption class="caption">
                                        <p><img src="images/qoute-icon.png" alt="qaoute"></p>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s </p>
                                        <blockquote class="no-margin">
                                            <p>John Doe</p> <small><cite title="Source Title"> Senior Manager</cite></small> </blockquote>
                                    </figcaption>
                                    </div>
                               </div>


                               <div class="col-md-6 col-xs-12">
                               		<div class="testimonial-block">
                                    <figcaption class="caption">
                                        <p><img src="images/qoute-icon.png" alt="qaoute"></p>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s </p>
                                        <blockquote class="no-margin">
                                            <p>John Doe</p> <small><cite title="Source Title"> Senior Manager</cite></small> </blockquote>
                                    </figcaption>
                                    </div>
                               </div>
                           </figure>
                        </div>
                </div>

                <div class="item">
                	<div class="col-xs-12">
                           <figure class="clearfix">


                               <div class="col-md-6 col-xs-12">
                               		<div class="testimonial-block">
                                    <figcaption class="caption">
                                        <p><img src="images/qoute-icon.png" alt="qaoute"></p>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s </p>
                                        <blockquote class="no-margin">
                                            <p>John Doe</p> <small><cite title="Source Title"> Senior Manager</cite></small> </blockquote>
                                    </figcaption>
                                    </div>
                               </div>


                               <div class="col-md-6 col-xs-12">
                               		<div class="testimonial-block">
                                    <figcaption class="caption">
                                        <p><img src="images/qoute-icon.png" alt="qaoute"></p>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s </p>
                                        <blockquote class="no-margin">
                                            <p>John Doe</p> <small><cite title="Source Title"> Senior Manager</cite></small> </blockquote>
                                    </figcaption>
                                    </div>
                               </div>
                           </figure>
                        </div>
                </div>


            </div>
            <!-- Controls -->


        </div>
                </div>



            </div>
        </section>

        <section id='aboutus' class="stillhave">
        	<div class="container">
            	<div class="col-xs-12 col-md-10">
                	<div class="stillhave-title">DO YOU STILL HAVE A QUESTION REGARING OUR SERVICES?</div>
                    <p class="stillhave-para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elementum tempor. Duis porta lectus ut dui consequat. </p>
                </div>

                <div class="col-xs-12 col-md-2">
                	<div class="stillhave-btn"><a href="#">Contact Us</a></div>

                </div>
            </div>
        </section>

        <!-- footer  -->
        <footer>
        	<div class="container">
            	<div class="row">
                	<div class="col-md-4">
                    	<h4 class="headingTextSize">QUICK LINKS</h4>
                        <ul class="footer">
                        	<li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>

                        </ul>
                    </div>

                    <div class="col-md-3">
                    	<h4 class="headingTextSize">contact us</h4>
                        <ul class="footer">
                        <p><strong>NEWPORT CARRIERS</strong></p>
                        <p>Contact Address will appear here, some text gonna appear here, Ney York City, - 10001, USA </p> <br>

                         <p><strong>phone</strong> : 591 7890 123</p>
                         <p><strong>email</strong> : info@transporttheme.com </p>

                        </ul>
                    </div>

                    <div class="col-md-3">
                    	<h4 class="headingTextSize">newsletter signup</h4>
                        <ul class="footer">
                        	<p>If you want receive our all weekly updates about new offers and discount, signup below. </p>

                                <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Address" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-send"></span></span>
                                </div>



                        </ul>
                    </div>



                </div>
            </div>
            <div class="information">
            	<div class="container">

                    <div class="col-md-6">
                    	<div class="small">Copyright 2016. All Rights Reserved by Newport Carriers. </div>
                    </div>
                    <div class="col-md-6">
                    	<ul class="list-inline navbar-right">
                        	<li><a href="#"><img src="images/facebook.png" alt="facebook"></a></li>
                            <li><a href="#"><img src="images/twitter.png" alt="Twitter"></a></li>
                            <li><a href="#"><img src="images/you-tube.png" alt="Youtube"></a></li>
                            <li><a href="#"><img src="images/linkden.png" alt="Linkden"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


