<!--TODO Move in head tag-->
<link rel="stylesheet" href="css/home.css" />
<link rel="stylesheet" href="css/home/nav.css" />
<link rel="stylesheet" href="css/home/about.css" />
<link rel="stylesheet" href="css/home/careers.css" />
<link rel="stylesheet" href="css/home/contact.css" />
<link rel="stylesheet" href="css/home/footer.css" />
<link rel="stylesheet" href="css/home/services.css" />

<div id="home-container" class="home-container">
    <div class="navbar-wrapper">
        <div class="container nav-top hidden-sm hidden-xs">           
            <div class="col-lg-12">
                <ul class="follow-info list-unstyled">
                    <li class="login-btn">
                        <a href="#/signin"> <span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
                    </li>
                    <li class="login-btn">
                        <a href="#/signup"> <span class="glyphicon glyphicon-log-in"></span> REGISTER</a>
                    </li>
                    <li class="facebook">
                        <a target="_blank" href="https://www.facebook.com/chucktruck.com/" title="Like us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="twitter">
                        <a target="_blank" href="https://twitter.com/chucktruck" title="Follow us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="linkedin">
                        <a target="_blank" href="https://www.linkedin.com/company/chucktruck" title="Folow us on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <nav id="custom-nav" class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button id="navbar-toggle-button" type="button"  class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="navbar">
            <span class="bars">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
                            <span class="button-text hidden-xs">Menu</span>
                        </button>
                        <a class="navbar-brand" href="http://chucktruck.tech/">Chuck Truck</a>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <a href="#" id="hide-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
        <div class="menu-items-wrapper">
            <ul class="navbar-items list-unstyled">
                <li class="active"><a href="#" role="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">Home</a></li>
                <li><a href="#about-us" role="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">About</a></li>
                <li><a href="#services" role="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">Services</a></li>
                <li><a href="#careers" role="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">Careers</a></li>
                <li><a href="#contact" role="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">Contact</a></li>
            </ul>
        </div>
    </div>


    <!-- Top Content -->
    <div class="top-content-wrapper" id="home">
        <div class="bg-wrapper">
            <div class="container marketing">
                <div class="row">
                    <div class="col-lg-12 center">
                        <h2>Welcome to <strong>Chuck Truck</strong> </h2> 
                        <h3> Dispatch Management Portal</h3>
                        <h3>For Truckers, By Trucker. We got your back.</h3>
                        <a role="button" href="#services" class="learn-more-btn btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Us -->
    <div class="about-us-wrapper" id="about-us">
        <div class="bg-wrapper">
            <div class="container marketing">
                <div class="row">
                    <div class="about-us col-lg-12">
                        <h2 class="section-heading">Who We Are</h2>
                        <p class="center lead p1">
                            We are an IT Staffing, Consulting and Web Development agency located in San Francisco Bay Area.
                        </p>
                        <p class="center lead p2">We offer a deep bench of talented candidates who are screened, vetted and ready to work.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>


    <!-- Services -->
    <div class="services-wrapper section" id="services">
        <div class="bg-wrapper">
            <div class="container marketing section">
                <div class="row services">
                    <div class="col-xs-12">
                        <h2 class="section-heading">What We Do</h2>
                    </div>
                    <div class="col-md-6 first-column">
                        <ul class="list-unstyled">
                            <li class="row service service-1">
                                <div class="icon-column col-xs-12 col-md-2 col-md-push-10">
                                    <div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                </div>
                                <div class="content-column col-xs-12 col-md-10 col-md-pull-2">
                                    <h4>Permanent Placements</h4>
                                    <p>We provide direct hire (permanent placement) services and recruits employees on behalf of our clients. Try Us!</p>
                                </div>
                            </li>
                            <li class="row service service-3">
                                <div class="icon-column col-xs-12 col-md-2 col-md-push-10">
                                    <div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                                </div>
                                <div class="content-column col-xs-12 col-md-10 col-md-pull-2">
                                    <h4>Contingent Workforce</h4>
                                    <p>We offer contingent workforce per your talent needs either On-Contract or Contract-To-Hire.</p>
                                </div>
                            </li>
                            <li class="row service service-5">
                                <div class="icon-column col-xs-12 col-md-2 col-md-push-10">
                                    <div class="icon"><i class="fa fa-retweet" aria-hidden="true"></i></div>
                                </div>
                                <div class="content-column col-xs-12 col-md-10 col-md-pull-2">
                                    <h4>Managed IT Services</h4>
                                    <p>We fill in what you need, where you need and how you need. If thereâ€™s a skill gap in your team, we can help you fill it.</p>
                                </div>

                            </li>
                        </ul>


                    </div>
                    <div class="col-md-6 second-column">
                        <!--<h3>Professional Services</h3>-->
                        <ul class="list-unstyled">
                            <li class="row service service-2">
                                <div class="icon-column col-xs-12 col-md-2">
                                    <div class="icon"><i class="fa fa-desktop" aria-hidden="true"></i></span></div>
                                </div>
                                <div class="content-column col-xs-12 col-md-10">
                                    <h4>Web Design & Development</h4>
                                    <p>Whether you need a simple web presence or want to create a complex social network, we build it.</p>
                                </div>
                            </li>
                            <li class="row service service-4">
                                <div class="icon-column col-xs-12 col-md-2">
                                    <div class="icon"><i class="fa fa-tablet" aria-hidden="true"></i></div>
                                </div>
                                <div class="content-column col-xs-12 col-md-10">
                                    <h4>App Development</h4>
                                    <p>If you want to get in on the exploding mobile marketplace, we customize solutions per your needs.</p>
                                </div>

                            </li>
                            <li class="row service service-6">
                                <div class="icon-column col-xs-12 col-md-2">
                                    <div class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                                </div>
                                <div class="content-column col-xs-12 col-md-10">
                                    <h4>Software Quality Assurance</h4>
                                    <p>We provide comprehensive solutions for software testing including mobile and web.</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
    </div>



    <!-- Our Approach -->
    <div class="our-approach-wrapper section">
        <div class="bg-wrapper">
            <a href="#" id="remove-selected"><i class="fa fa-times" aria-hidden="true"></i></a>
            <div class="container marketing">
                <div id="our-approach" class="our-approach">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="section-heading">Our Approach</h2>
                            <p class="center lead full intro">
                                Relationship is a core value for us, whether it's with our client, customer or a team member.<br/> Our approach is to work hard and produce excellent results for a relationship.
                            </p>

                            <div class="boxes-container">
                                <ul class="list-unstyled boxes">
                                    <li class="col-custom-2">
                                        <div class="box box-1">
                                            <h6>
                                                <a href="javascript:void(0);">Engage</a>
                                            </h6>
                                            <p class="lead">
                                                We engage with YOU to understand YOUR talent needs. Direct and to the point. Let's create solutions, not additional hassle.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="col-custom-2">
                                        <div class="box box-2">
                                            <h6>
                                                <a href="javascript:void(0);">Evaluate</a>
                                            </h6>
                                            <p class="lead">
                                                Our evaluation process goes by deep diving into the tangible and intangible qualities that can make or break a candidate. We utilize cutting edge market tools while keeping a traditional approach to evaluations.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="col-custom-2">
                                        <div class="box box-3">
                                            <h6>
                                                <a href="javascript:void(0);">Source</a>
                                            </h6>
                                            <p class="lead">We are not Reactive but Proactive. We proactively engage with top notch candidates that are right fit for the role. Our experience has led us to maintain a vast pool of resources who are screened, vetted and ready to work. </p>
                                        </div>
                                    </li>
                                    <li class="col-custom-2">
                                        <div class="box box-4">
                                            <h6>
                                                <a href="javascript:void(0);">Deliver</a>
                                            </h6>
                                            <p class="lead">
                                                Once youâ€™ve made your selection, we are ready to roll. Hiring, negotiating, and on-boarding are seamless, timely, and efficient. Sit back and relax, weâ€™ve got you covered.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="col-custom-2">
                                        <div class="box box-5">
                                            <h6>
                                                <a href="javascript:void(0);"><span>Re-Engage</span></a>
                                            </h6>
                                            <p class="lead">
                                                For us, relationship is our business. We re-engage to offer continued support to you, your team and on-going assistance to our consultants who work towards your goals.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <hr class="center-line hidden-xs hidden-sm"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Careers -->
    <div class="careers-wrapper section" id="careers">
        <div class="bg-wrapper">
            <div class="container marketing">
                <div class="row">
                    <div class="careers col-lg-12">
                        <h2 class="section-heading">Plans</h2>
                        <div id="plans-table" class="clear">
                            <div class="plan">
                                <h3>Professional<span>$59</span></h3>
                                <a class="signup" href="#/signup">Sign up</a>
                                <ul>
                                    <li><b>10GB</b> Disk Space</li>
                                    <li><b>100GB</b> Monthly Bandwidth</li>
                                    <li><b>20</b> Email Accounts</li>
                                    <li><b>Unlimited</b> subdomains</li>
                                </ul>
                            </div>
                            <div class="plan">
                                <h3>Regular<span>$49</span></h3>
                                <a class="signup" href="#/signup">Sign up</a>
                                <ul>
                                    <li><b>5GB</b> Disk Space</li>
                                    <li><b>50GB</b> Monthly Bandwidth</li>
                                    <li><b>10</b> Email Accounts</li>
                                    <li><b>Unlimited</b> subdomains</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="contact-wrapper section" id="contact">
        <div class="bg-wrapper">
            <div class="container marketing">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="section-heading">Reach us</h2>
                    </div>
                </div>

                <div class="row reach-us-options-row">
                    <div class="col-sm-4 reach-us-option-column address-column">
                        <i class="fa fa-map-marker"></i>
                        <a target="_blank" class="address-link" href="https://www.google.com/maps/place/7100+Stevenson+Blvd+%23324,+Fremont,+CA+94538/@37.5069644,-121.9981562,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb8a65432f531:0x4309a75669ef7dcd">
                            <span>7100 Stevenson Blvd. #324</span>
                            <span>Fremont, CA 94538</span>
                        </a>
                    </div>
                    <div class="col-sm-4 reach-us-option-column phone-column">
                        <i class="fa fa-phone"></i>
                        <ul class="list-unstyled">
                            <li><a href="tel:+18775910445">+1-877-591-0445</a></li>
                            <li><a href="tel:+14089400800">+1-408-940-0800</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 reach-us-option-column email-column">
                        <i class="fa fa-envelope-o"></i>
                        <ul class="list-unstyled">
                            <li><a href="mailto:info@caliandra.tech">info@caliandra.tech</a></li>
                            <li><a href="mailto:sales@caliandra.tech">sales@caliandra.tech</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 alert-container">
                    </div>
                </div>

                <form method="POST" action="//formspree.io/prandhawa@caliandratech.com" name="contact-form" id="contact-form" class="contact-form row" role="form">
                    <ul class="list-unstyled col-sm-6 first-column">
                        <li class="form-group">
                            <input type="text" value="" id="name" name="name" class="form-control" placeholder="Name">
                        </li>
                        <li class="form-group">
                            <input type="text" value="" id="email" name="email" class="form-control" placeholder="Email">
                        </li>
                        <li class="form-group">
                            <input type="text" value="" id="phone" name="phone" class="form-control" placeholder="Phone">
                        </li>
                    </ul>
                    <ul class="list-unstyled col-sm-6 second-column">
                        <li class="form-group">
                            <textarea id="comments" name="comments" rows="3" class="form-control" placeholder="Message"></textarea>
                        </li>
                        <li class="form-group">
                            <button id="contact-us-submit-button" class="btn btn-primary btn-lg" type="submit">Send</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>



    <!-- FOOTER -->
    <div class="footer">
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2016 Caliandra Technologies LLC. <a href="#" data-toggle="modal" data-target="#privacy-policy-model">Privacy Policy</a></p>
                    <p class="promo">Designed and Developed by Caliandra Team.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="dist/js/namespace.js"></script>
<script src="dist/js/FormValidator.js"></script>
<script src="dist/js/home.js"></script>

<script>
  $(function() {


    var navbarHeight = $('.navbar-wrapper').outerHeight()
    $('.navbar-items, .learn-more-btn').on('click', function(e){
      e.preventDefault();
      var target = e.target,
              $target = $(target);

      $('#navbar-menu').removeClass('show');

      if ($target.is('a') && !$target.hasClass('active')) {
        var targetId = target.href.split("#")[1] || null
        var offset = targetId ? $('#' + targetId).position().top : 0
        var body = $("html, body");
        var itemToBeSelected =  $('#navbar-menu').find('a[href="#' + targetId + '"]')

        $('#navbar-menu').find('.active').removeClass('active');
        itemToBeSelected.parent().addClass('active');

        body.animate({scrollTop: offset}, '500', 'swing');

      }
    })
    $('.form-control').on('focus blur', function (e) {
        $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
	}).trigger('blur');
  });

</script>

