<div class='form-header clearfix'>New Broker Form</div>
<form  name="brokerForm" novalidate class="dispatch-form form-horizontal form">
    <div class="row">
        <div class="col-sm-4">
            <input class='form-control txt-box-medium' ng-model="broker.name" name="name" type="text" placeholder="Name" 
            required maxlength="30" style="float:left"/> 
             <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="brokerForm.name.$error" ng-if='brokerForm.name.$dirty' ng-cloak>
                <div ng-message="required">Broker Name is required</div>
                <div ng-message="maxlength">Name cannot exceed 30 characters</div>
            </div>
        </div>
 
        <div class="col-sm-5">
            <input class='form-control txt-box-medium' type="email" ng-model="broker.email" name="email" 
            type="text" placeholder="info@example.com" required style="float:left">
            <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="brokerForm.email.$error" ng-if='brokerForm.email.$dirty' ng-cloak>
              <div ng-message="required">Email is required</div>
              <div ng-message="email">Must be a valid email</div>
            </div>            
        </div>
        <div class="col-sm-3">
            <input class='form-control txt-box-small' ng-model="broker.phone" name="phone" type="tel" ng-minlength="10" placeholder="Phone (10 digits)" 
                ng-maxlength="10" maxlength="10" ng-pattern="/^(0|[1-9][0-9]*)$/" pattern="/^(0|[1-9][0-9]*)$/" required style="float:left">
            <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="brokerForm.phone.$error" ng-if='brokerForm.phone.$dirty' ng-cloak>
              <div ng-message="required">Phone number is required</div>
              <div ng-message="pattern">Please provide valid US phone number.</div>
              <div ng-message="minlength">Phone must be 10 digit US phone #</div>
              <div ng-message="maxlength">Phone must be 10 digit US phone #</div>
            </div>             
        </div>
    </div>
    <fieldset>
        <legend class='legend-heading'>ADDRESS</legend>
        <div class="row">
            <div class="col-sm-5">
                <input class='form-control' ng-model="broker.street" placeholder="Street Name" type="text" maxlength="75" >
            </div>
            <div class="col-sm-3">
                <input class='form-control' ng-model="broker.city" placeholder="City" type="text" maxlength="30" >
            </div>
            <div class="col-sm-3">
                <select class='form-control' ng-model='broker.state'>
                    <option value="">Select State</option>
                    <option ng-repeat='state in getStates()'
                        value="{{state}}">{{state}}
                    </option>
                </select>
                
            </div>                    
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input class='form-control' ng-model="broker.zipcode" placeholder="Zip Code" type="text" 
                pattern="\d*" maxlength="5">
            </div>        
            <div class="col-sm-4">
                <input class='form-control' ng-model="broker.country" type="text" default="US" disabled >
            </div>
        </div>
    </fieldset>
    <div class='row'>
        <div class="col-sm-2">
        <input type="submit" class="btn btn-primary" value="Save" ng-disabled="brokerForm.$invalid" ng-click="brokerForm.$valid && ok() && closeThisDialog(0);" >
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-default" value="Reset" type="reset">
        </div>
    </div>    
</form>
