<div class='form-header clearfix'>Expense Form</div>
<form name="expenseform" class="dispatch-form form-horizontal form" >
			<div class='row'>
				<div class='col-md-4'>
					<md-radio-group ng-init="expense.expenseType='BILLABLE'" ng-model="expense.expenseType" style='display:inline'>
                    	<md-radio-button value="BILLABLE" class="md-primary" style='display:inline'>Billable</md-radio-button>
                        <md-radio-button value="NON-BILLABLE" style='display:inline'> NonBillable </md-radio-button>
                    </md-radio-group>				
				</div>
				<div class='col-md-4'>
					<div class="input-group" datetimepicker ng-model="expense.date">
                    	<input ng-required="true" type="text" class="form-control" required/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                       </span>				
					</div>				
				</div>				
			</div>
			<fieldset>
				<legend class='legend-heading'>Expense Information</legend>
				<div class='row'>	
					<div class='col-md-3'>
                        <input class="form-control" ng-model="expense.name" type="text" placeholder="Expense Name" required>
					</div>
					<div class='col-sm-3'>
						<input class="form-control" type="text" ng-model="expense.description" placeholder ="Description" />
					</div>
					<div class='col-sm-2'>
						<input class="form-control" pattern="\d*" type='number' name="amount" placeholder="Amount" ng-model='expense.amount'/>
					</div>
				</div>
			</fieldset>		
		
		<div class='row'>
			<div class='col-lg-6 col-md-6 col-sm-6'>
				<input type='submit' type="submit"  id="btnAddExpense" ng-click="expenseform.$valid && ok();" class="btn btn-info" value='ADD EXPENSE' />
			</div>
		</div>
</form>
