<div class='form-header clearfix'>Extra Charges</div>
<form  name="chargesForm" class="dispatch-form form-horizontal form">
    <input type="button" class="action-btn action-btn--medium-normal" ng-click="addNewCharge()" value="Add Charge">
    <div class='row' data-ng-repeat="charge in orderCharges track by $index">
        <div class='col-sm-5'>
            <input class='form-control expense-name' placeholder="Expense Name" type="text" ng-model="orderCharges[$index].name" >
        </div>
        <div class='col-sm-3'>
            <input class='form-control expense-amount' pattern="\d*" placeholder="Expense Amount" type="number" ng-model="orderCharges[$index].amount" >
        </div>
    </div>
    <div class='row' ng-show="orderCharges.length > 0">
        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" value="Save" ng-click="chargesForm.$valid && saveExpense() && closeThisDialog(0);" >
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-default" value="Reset" type="reset">
        </div>
    </div>         

</form>
