<div class='form-header clearfix'>Order Expenses</div>
    <form  name="expenseform" class="form-horizontal form">
        <div class="row">
            <div class="col-sm-3">
                <input class='form-control' type="text" ng-model="expense.name" name="description" placeholder="Description" type="text" required >
            </div>
            <div class="col-sm-3">
                <input class='form-control' ng-model="expense.amount" pattern="\d*" placeholder="Amount" type="number" required >
            </div>

            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" ng-click="expenseform.$valid && ok() && closeThisDialog(0);" value = "Add Expense">
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-default" value="Reset" type="reset">
            </div>
        </div>        
    </form>            
    <div class='row'>
        <div class='col-md-12 col-sm-12'>
            <div class="table-dynamic">
                <table class="table-order table-striped table-hover">
                    <thead>
                        <tr>
                        <th>ExpenseId</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>TotalDays</th>
                        <th>TotalAmount</th>
                        <th>Type</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="expense in currentPageExpenses" ng-include="getTemplate(expense)">
                        </tr>
                    </tbody>
                </table>
            </div>                    
        </div>
    </div>
 <script type="text/ng-template" id="display">
        <td ng-bind="expense.id"></td>
        <td ng-bind="expense.expenseStartDate"></td>
        <td ng-bind="expense.name | uppercase"></td>
        <td ng-bind="expense.amount | currency"></td>
        <td ng-bind="expense.dayCount"></td>
        <td> ${{expense.amount * 1 * expense.dayCount * 1}}</td>
        <td ng-bind="expense.expenseType"></td>
        <td>
            <span class="glyphicon glyphicon-pencil" ng-click="edit(expense)"></span>
            <span class="glyphicon glyphicon-trash" ng-click="delete(expense,$index)"></span>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td ng-bind="expense.id"></td>
        <td><input type="date" ng-model="selected.expenseStartDate"></td>
        <td><input type="text" ng-model="selected.name" /></td>
        <td><input type="text" ng-model="selected.amount"></td>
        <td ng-bind="selected.amount"></td>
        <td ng-bind="selected.totalAmount"></td>
        <td>
             <input type='radio' name='ExpenseType' value='BILLABLE' ng-model="selected.type" />Billable<br/>
             <input type='radio' name='ExpenseType' value='NON_BILLABLE' ng-model="selected.type" />Non-Billable   
        </td>
        <td>
            <span class="glyphicon glyphicon-floppy-saved" ng-click="update($index)"></span>
            <span class="glyphicon glyphicon-remove" ng-click="reset()"></span>
        </td>
    </script>        