<div class='form-header clearfix'>DistanceRate Form</div>
<form  name="distanceRateform" class="dispatch-form form-horizontal form">
    <div class="row">
        <div class="col-sm-3">
            <input class='form-control' ng-model="distanceRate.originCity" placeholder="Origin City" type="text" required maxlength="30" >
        </div>
        <div class="col-sm-2">
            <select class='form-control' ng-model='distanceRate.originState' required style="padding:10px" >
                <option value="">Select State</option>
                <option ng-repeat='state in getStates()'
                    value="{{state}}">{{state}}
                </option>
            </select>
        </div>        
        <div class='col-sm-3'>
            <input class='form-control' ng-model="distanceRate.destinationCity" placeholder="Destination City" required type="text" maxlength="30" >        
        </div>
        <div class="col-sm-2">
            <select class='form-control' ng-model='distanceRate.destinationState' required style="padding:10px" >
                <option value="">Select State</option>
                <option ng-repeat='state in getStates()'
                    value="{{state}}">{{state}}
                </option>
            </select>
        </div>          
    </div>
    <div class='row'>    
        <div class='col-sm-3'>
            <select class='form-control' ng-model="distanceRate.rateType">
                <option value=''>Rate Type</option>
                <option value='DistanceBased'>Distance</option>
                <option value='Termination'>Termination</option>
            </select>
        </div>  
        <div class='col-sm-3'>
            <select class='form-control' ng-model="distanceRate.driverType">
                <option value=''>Driver Type</option>
                <option value='RegularDriver'>Regular</option>
                <option value='OwnerOperator'>OwnerOperator</option>
            </select>
        </div>

        <div class="col-sm-2">
            <input class="form-control" placeholder='Amount' ng-model="distanceRate.rate" type="text" pattern="\d*" maxlength="5">
        </div>
    </div>
    <div class='row'>    
        <div class="col-sm-2">
        <input type="submit" class="btn btn-lg btn-primary" value="Save" ng-click="distanceRateform.$valid && ok() && closeThisDialog(0);" >
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-lg btn-default" value="Reset" type="reset">
        </div>
    </div>        
</form>            
