<div class="dashboard-content">
    <div class='dashboard-data'>
        <div class='table-wrapper'>
            <div class="table-wrapper__title">
                <h4>Distance Rate</h4>
            </div>
            <div class='table-wrapper__header'>
                <div>
                    <button class="action-btn btn--large" ng-click="addDistanceRate()"> ADD DISTANCE RATE </button>
                </div>
                    <div class="table-wrapper__searchForm">
                    <i class="search-box__icon fa fa-search"></i>
                    <input class="table-wrapper__search-box search-box__input" type="search" data-ng-model="searchKeywords" placeholder="Find Broker" required="" />
                </div>
            </div> 
            <table class="table-order table-striped table-hover table-condensed">
                <thead>
                    <tr>
                    <th>Id</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Rate Type</th>
                    <th>Driver Type</th>
                    <th>Rate</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="rate in currentPageDistanceRates" ng-include="getTemplate(rate)">
                    </tr>
                </tbody>
            </table>
        </div>    
        <div class="row">
            <div class="col-md-6 page-num-info">
            <span>Show
                <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNumPerPageChange()">
                </select>
                entries per page
            </span>
            </div>
            <div class="col-md-6 pull-right text-right btn-group">
                <pagination class="pagination-sm custom-pagination"
                            ng-model="currentPage"
                            total-items="filteredBrokers.length"
                            max-size="4"
                            ng-change="select(currentPage)"
                            items-per-page="numPerPage"
                            rotate="false"
                            boundary-links="true"></pagination>
            </div>
        </div>
        <script type="text/ng-template" id="display">
            <td ng-bind="rate.id"></td>
            <td ng-bind="rate.origin | uppercase"></td>
            <td ng-bind="rate.destination | uppercase"></td>
            <td ng-bind="rate.type"></td>
            <td ng-bind="rate.driverType"></td>

            <td ng-bind="rate.rate | currency"></td>
            <td>
                <button class="btn btn-primary action-button" ng-click="edit(rate)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger action-button" ng-click="delete(rate,$index)" ><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td ng-bind="rate.id"></td>
            <td ng-bind="rate.origin| uppercase"> </td>
            <td ng-bind="rate.destination | uppercase"></td>
            <td><select class='inputBox compact-form' ng-model="selected.type">
                    <option value='DistanceBased'>Distance</option>
                    <option value='Termination'>Termination</option>
                </select>
            </td>
            <td>
                <select class='inputBox compact-form' ng-model="selected.driverType">
                    <option value='RegularDriver'>Regular</option>
                    <option value='OwnerOperator'>OwnerOperator</option>
                </select>
            </td>    
            <td><input type="text" ng-model="selected.rate" /></td>
            <td>
                <button class="btn btn-success action-button" ng-click="update($index)"><span class="glyphicon glyphicon-floppy-saved"></span></button>
                <button class="btn btn-danger action-button" ng-click="reset()"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </script>        
    </div>
</div>