<div class="modal-header">
    <h3 class="modal-title">Expense Modal</h3>
     <form name = "addFriendForm">
      <input ng-model = "user.name" class="form-control" type = "text" placeholder="Username" title=" Username" />
      {{ user.name }}
    </form>    
</div>