<!-- Driver Modal -->
<div class="modal fade" id="drivermodal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					{{availableDrivers.length}}
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true">CLOSE</span></button>
					<span data-toggle="tooltip" title="ADD DRIVER"><button type='button' class="btn btn-success btn-md" onclick="showDriverFrame()" ><span class="glyphicon glyphicon-plus"> DRIVER</span></button></span>
				</div>
				<div class="modal-body">
					<div class='form-group row'>
						<h5 class="modal-title custom_align" id="Heading">Please Select Driver Rate and Driver. <span style='color:red'>*</span></h4>
						<label class='col-sm-2 control-label'>DRIVER RATE:</label>
						<select id='listDriverRateOptions' required>
							<option value='None'>Select Driver Rate </option>
							<option value='DistanceRate'>Distance Based</option>
							<option value='FixedDriverRate'>Rate Based</option>
							<option value='CustomDriverRate'>Custom Rate</option>
						</select>
						<span id='distancerate' hidden>
							<label for='origin'>Origin</label>
							<input class='form-control' type="text" id='txtOrigin' disabled>
							<label for='origin'>Destination</label>
							<input class='form-control' type="text" id='txtDestination' disabled>
							<label for='origin'>Rate</label>
							<input class='form-control' type="text" id='txtDistanceDriverRate' disabled>												
						</span>	
						<span id='fixedrate' hidden>
							<p>Please select any available driver below. Rate will be automatically adjusted. </p>
						</span>
						<span id='customrate' hidden>
							<label for='origin'>Rate</label>
							<input class='form-control' type="number" id='txtCustomDriverRate'>												
						</span>
					</div>	
					<table id='tblDriverModal' class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>Select</th>
								<th>Driver FirstName</th>
								<th>Driver LastName</th>
								<th>Driver Phone</th>
								<th>Driver IsOwnerOperator</th>
							</tr>
						</thead>
						<tbody  id='tblBodyDriverModal'>
						</tbody>
					</table>
					<div class='row'>
						<input type='checkbox' id='chkboxAssignDriver' checked='true'> Assign Driver to all Uncovered or New Legs 
					</div>	
				</div>
				<div class="modal-footer">
					<button id='btnAssignDriver' name = 'action' value='edit' type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Assign Driver</button>
				</div>
			</div>
		</div>
	</div>
<!-- /. End Modal -->
