<div class='form-header clearfix'>Driver Rate</div>
<div class="modal-body">
   <form  name="driverAssignForm">
        <div class='row'>
            <div class="col-sm-4">
                <select class='form-control' ng-model='driverRateType.type' >
                    <option value=''>SELECT DRIVER RATE</option>
                    <option value="DistanceRate">DISTANCE RATE</option>
                    <option value="Custom">CUSTOM</option>
                </select>  
                <span class="required-asterik">*</span>	                                     
            </div>            
            <div ng-show="driverRateType.type === 'Custom'" class='col-md-5 col-sm-5 float-right'>
                <input class='form-control' name="customRate" placeholder="Enter Driver Rate" type='text' ng-model="customDriverRate" />
            </div>
        </div>

		<div ng-show="driverRateType.type === 'DistanceRate'" class='row'>
			<div class='col-md-12 col-sm-12' ng-show="legDistanceRate.length==0">
				<label class='msg-warning'>No Rate found. Please check your Distance Rate Table.</label>
            </div>
        </div>
        <div ng-show="driverRateType.type === 'DistanceRate' && legDistanceRate.length>0">
            <label class="msg-info"> {{legDistanceRate.length}} Distance Based Rate Found. </label> 
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Rate Type</th>
                        <th>Driver Type</th>
                        <th>Flat Rate</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rate in legDistanceRate">
                        <td>{{rate.origin}}</td>
                        <td>{{rate.destination}}</td>
                        <td>{{rate.type}}</td>
                        <td>{{rate.driverType}}</td>
                        <td>{{rate.rate}}</td>
                        <td><input type='radio'  value = "{{rate.rate}}" name='rateGroup' ng-click="selectDistanceRate(rate)"></td>		
                    </tr>
                </tbody>
            </table>	
        </div>
		<div ng-if="availableLegDrivers.length == 0">
			<label class="msg-info">All Drivers are assigned. No Available Driver</label>.
        </div>

		<table ng-if="availableLegDrivers.length >0" class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Phone</th>
					<th>OwnerOperator</th>
					<th>FlatRate</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="driver in availableLegDrivers">
					<td>{{driver.firstname}}</td>
					<td>{{driver.lastname}}</td>
					<td>{{driver.phone}}</td>
					<td>{{driver.ownerOperator}}</td>
                    <td ng-if="driverRateType.type === 'DistanceRate'" ng-bind="driver.rate=flatDriverRate"></td>
                    <td ng-if="driverRateType.type === 'Custom'" ng-bind="driver.rate=customDriverRate"></td>
					<td>
						<input type="button" class="action-btn action-btn--normal" ng-click="assignDriverToLeg(driver) && closeThisDialog()" value='Add'>		
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
