<div class="modal-header">
    <h3 class="modal-title">Enter Check Information</h3>
    <div class='row'>	
        <div class='col-md-4'>
            <input class="form-control" ng-model="selected.checkNumber" type="text" placeholder="Check Number" required>
        </div>
        <div class='col-sm-4'>
            <input class="form-control" pattern="\d*" type='number' name="amount" placeholder="Amount" ng-model='selected.checkAmount'/>
        </div>
        <div class='col-sm-4'>
	        <button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>		
  	        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        </div>
    </div>    
</div>