<div class='form-header clearfix'>INVOICE</div>
<div class='row'>
    <div class = 'col-md-6 col-sm-6'>
        <ul id='invoiceInfo'>
          <li class='item-desc'>Invoice #: <span class='item-value' ng-bind="modalOptions.invoiceData.id"></span> </li>
          <li class='item-desc'>InvoiceDate: <span class='item-value' ng-bind="modalOptions.invoiceData.date"></span> </li>
          <li class='item-desc'>Invoice Total: <span class='item-value' ng-bind="modalOptions.invoiceData.totalAmount |  currency"></span> </li>
          <li class='item-desc'>Paid: <span class='item-value' ng-bind="modalOptions.invoiceData.paid |  currency"></span> </li>
          <li class='item-desc'>Balance: <span class='item-value' ng-bind="modalOptions.invoiceData.balance |  currency"></span> </li>                    
          <li class='item-desc'>W/O Reference #: 
            <span class='item-value' ng-bind="modalOptions.invoiceData.brokerReferenceNumber"></span> 
          </li>      
      </div>
    </div>
	<div class='col-md-6 col-sm-6 pull-right'>
		<div class='info-box'>
			<div class='info-box-header bg-green'>BILL TO</div>
			<h3 ng-bind="modalOptions.broker.name"></h3>
			<p class='address'>
				<span ng-bind="modalOptions.broker.street"></span> <br/>
				<span ng-bind="modalOptions.broker.city"></span>
				<span ng-bind="modalOptions.broker.state"></span>
			</p>
		</div>
	</div>
</div>		
  
<div class='row'>

</div>
  
<div class='row invoice-details'>
    <h3 class='heading'>Invoice Details</h3>
    <div class='content'>
        <div class='rate-heading'>Order Rate:  <span class='rate-value' ng-bind="modalOptions.invoiceData.orderRate | currency"></span></div>
        <div class='rate-heading'>F.S.C:<span class='rate-value' ng-bind="modalOptions.invoiceData.fsc | currency"></span>
        </div>
        <div class='rate-heading'>Sub-Total:  <span class='rate-value'> ${{modalOptions.invoiceData.orderRate * 1 + modalOptions.invoiceData.fsc * 1 }}</span></div>      
        <hr/>

        <div ng-if="modalOptions.invoiceData.expense==null" style="    text-align: center;
    font-size: 18px;
    font-weight: bold;">No Additional Charges</div>

        <table ng-if="modalOptions.invoiceData.expense !=null " class='table table-striped'>
            <thead>
              <th>Expense</th>
              <th>Amount</th>
              <th>Date</th>
            </thead>
            <tbody ng-if="modalOptions.invoiceData.expense !== null " ng-repeat="expense in modalOptions.invoiceData.expense">
              <tr>
                <td ng-bind="expense.name | uppercase"></td>
                <td ng-bind="expense.amount | currency"></td>
                <td ng-bind="expense.date"></td>
              </tr>        
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
	<button ng-if="modalOptions.driverData.length == 0" class="btn btn-primary" 
          			data-ng-click="modalOptions.ok(driver);">{{modalOptions.actionButtonText}}</button>		
  	<button type="button" class="btn" 
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>
