<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
  {{modalOptions.bodyText}}
	<div ng-if="modalOptions.legStatus === true">
		<fieldset ng-if='modalOptions.currentLegStatus !== "TRANSIT"' >
			<legend>Leg Status</legend>
			<div class='row'>
				<h5 class='col-md-10'> Current Status: {{modalOptions.currentLegStatus}}</h5>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4' ng-repeat = "status in modalOptions.nextstatus">	
  					<button type="submit" ng-if="status.command" data-ng-click="modalOptions.ok(status)">
 					{{status.command}}</button>
 				</div>
			</div>
		</fieldset>
		<fieldset ng-if='modalOptions.currentLegStatus == "TRANSIT"'>
			<legend>Consignee Status</legend>
			<div class='row'>
				<p> Current Status: {{modalOptions.currentLegStatus}}</p>
			</div>
			<div class='col-sm-4' ng-repeat = "status in modalOptions.nextstatus">	
				<button type="submit" ng-if="status.command" data-ng-click="modalOptions.ok(status)">
				{{status.command}}</button>
			</div>
 		</fieldset>		
	</div>
</div>
<div class="modal-footer" ng-if="modalOptions.legStatus">
	<button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>		
  	<button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>

