<section id="plans" class="plans">
        <div class="content-container">
        
            <!-- HEADING -->
            <h2>PLANS</h2>
            
            <!-- LINE -->
            <div class="main-line"></div>

                <div id="pricing-table" class="clear">
                    <div class="plan">
                        <h3>Premium<span>$59</span></h3>
                        <button class="btn btn-success" ng-click="selectPlan('Premium')&& closeThisDialog(0)">SignUp</button>
                        <ul>
                            <li><b>10GB</b> Disk Space</li>
                            <li><b>100GB</b> Monthly Bandwidth</li>
                            <li><b>20</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul> 
                    </div>
                    <div class="plan">
                        <h3>Regular<span>$49</span></h3>
                        <button class="btn btn-success" ng-click="selectPlan('Regular')&& closeThisDialog(0)">SignUp</button>
                        <ul>
                            <li><b>5GB</b> Disk Space</li>
                            <li><b>50GB</b> Monthly Bandwidth</li>
                            <li><b>10</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul>    
                    </div>
                    <!--<div class="plan">
                        <h3>Standard<span>$17</span></h3>
                        <a class="signup" href="">Sign up</a>
                        <ul>
                            <li><b>3GB</b> Disk Space</li>
                            <li><b>25GB</b> Monthly Bandwidth</li>
                            <li><b>5</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul>
                    </div>
                    <div class="plan">
                        <h3>Basic<span>$9</span></h3>
                        <a class="signup" href="">Sign up</a>       
                        <ul>
                            <li><b>1GB</b> Disk Space</li>
                            <li><b>10GB</b> Monthly Bandwidth</li>
                            <li><b>2</b> Email Accounts</li>
                            <li><b>Unlimited</b> subdomains</li>            
                        </ul>
                    </div>  -->
                </div>
        </div> <!-- /END WRAPPER -->
        
    </section>