<div class='form-header clearfix'>Users</div>
<div class='row'>
    <div class='col-md-12 col-sm-12'>
        <div class="table-dynamic">    
            <table class="table-order table-striped table-hover table-condensed">
                <thead>
                    <tr>
                    <th> FirstName </th>
                    <th> LastName </th>
                    <th> Email </th>
                    <th> Username </th>
                    <th> Role </th>
                    <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in modalOptions.users">
                        <td ng-bind="user.firstname | uppercase"></td>
                        <td ng-bind="user.lastname | uppercase"></td>
                        <td ng-bind="user.email"> </td>
                        <td ng-bind="user.username"></td>
                        <td ng-bind="user.role"></td>
                        <td>
                        <span class="glyphicon glyphicon-pencil" ng-click="editUser(user)"></span>
                        <span class="glyphicon glyphicon-trash" ng-click="deleteUser(user,$index)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>   
</div>    

