<div class='form-header clearfix'>New Equipment Form</div>
<form  name="equipmentForm" class="dispatch-form form-horizontal form">
    <div class="row">
        <div class="col-sm-4">
            <select class='form-control' ng-model='equipment.type' >
                <option value=''>SELECT EQUIPMENT</option>
                <option value="CONTAINER">CONTAINER</option>
                <option value="CHASSIS">CHASSIS</option>
            </select>  
            <span class="required-asterik">*</span>	                                     
        </div>
     
        <!-- Container -->       
        <div class="col-sm-4" ng-hide="equipment.type != 'CONTAINER'" >
            <input class='form-control' ng-model="equipment.name" placeholder="Name" type="text" name="name" required>
            <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="equipmentForm.name.$error" ng-if='equipmentForm.name.$dirty' ng-cloak>
                <div ng-message="required">Company Name is required</div>
            </div>            
        </div>

        <div class="col-sm-4" ng-hide="equipment.type != 'CONTAINER'" >
            <input class='form-control' type="text" placeholder="Description" ng-model="equipment.description" name="equipmentDescription" required/>
            <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="equipmentForm.description.$error" ng-if='equipmentForm.description.$dirty' ng-cloak>
                <div ng-message="required">Description is required</div>
            </div>            
        </div>

    <!-- Chassis -->
        <div class="col-sm-4" ng-hide="equipment.type != 'CHASSIS'">
            <input class='form-control' placeholder="Chassis Company" ng-model="equipment.company" type="text" name="company" required>
            <span class="required-asterik">*</span>	 
            <div class="field-message" ng-messages="equipmentForm.company.$error" ng-if='equipmentForm.company.$dirty' ng-cloak>
                <div ng-message="required">Company Name is required</div>
            </div>              
        </div>
        <div class="col-sm-4" ng-hide="equipment.type != 'CHASSIS'">  
            <input class='form-control' ng-model="equipment.chassisRent" placeholder="Rent Per Day" type="number" name="RentPerDay" >
            <span class="required-asterik">*</span>	 
        </div>
    </div>
    <div ng-hide="equipment.type != 'CONTAINER'" class="row">
        <div class="col-sm-3">
            <input class='form-control' ng-model="equipment.height" placeholder="Height" type="text" >
        </div>
        <div class="col-sm-3">
            <input class='form-control' ng-model="equipment.weight" placeholder="Length" type="text" >
        </div>
        <div class='col-sm-4'>
            <input class='form-control' ng-model="equipment.freeDays" placeholder="Free Days" type="number" name="freeDays" min=0>
            <span class="required-asterik">*</span>	 
        </div>
    </div>

    <div class='row' ng-if="equipment.type == 'CONTAINER' || equipment.type == 'CHASSIS'" >      
        <div class='col-sm-12'>
            <fieldset>
                <legend>Drop Location</legend>
                <div class="row">
                <div class='col-sm-4'>
                    <input class='form-control' ng-model="equipment.street" type="text" name="street" placeholder="Street Name">
                </div>
                <div class='col-sm-3'>
                    <input class='form-control' ng-model="equipment.city" type="text" name="city" placeholder="City">
                </div>
                <div class='col-sm-3'>
                    <select class='form-control' ng-model='equipment.state'>
                        <option value="">Select State</option>
                        <option ng-repeat='states in getStates()'
                            value="{{states}}">{{states}}
                        </option>
                    </select>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input class='form-control' ng-model="equipment.zip" type="text" name="zip" pattern="\d*" maxlength="5"
                         placeholder="ZipCode" >
                    </div>
                </div>   
            </fieldset>
            
        </div>                   
    </div>   

    <div class='row'>
        <div class="col-sm-2">
        <input type="submit" class="btn btn-lg btn-primary" value="Save" ng-click=" ok() && closeThisDialog(0);" >
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-lg btn-default" value="Reset" type="reset">
        </div>
    </div>             
</form>