<div class="dashboard-content">
    <div class='dashboard-data'>
        <div class='table-wrapper'>
            <div class="table-wrapper__title">
                <h4>Equipment</h4>
            </div>
            <div class='table-wrapper__header'>
                <div>
                    <button class="action-btn btn--large" ng-click="addEquipment()"> ADD NEW EQUIPMENT </button>
                </div>
                 <div class="table-wrapper__searchForm">
                    <i class="search-box__icon fa fa-search"></i>
                    <input class="table-wrapper__search-box search-box__input" type="search" data-ng-model="searchKeywords" placeholder="Find Broker" required="" />
                </div>
            </div>
            <table class="table-order table-striped table-hover table-condensed">
                <thead>
                    <tr>
                    <th>Company</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Height</th>
                    <th>Length</th>
                    <th>Drop Location</th>
                    <th>#Free Days</th>
                    <th>Per Day Rent</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="equipment in currentPageList" ng-include="getTemplate(equipment)">
                    </tr>
                </tbody>
            </table>  
            <div class="row">
                <div class="col-md-6 page-num-info">
                <span>Show
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select>
                    entries per page
                </span>
                </div>
                <div class="col-md-6 pull-right text-right btn-group">
                    <pagination class="pagination-sm custom-pagination"
                                ng-model="currentPage"
                                total-items="filteredBrokers.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="display">
            <td ng-if="equipment.type=='CONTAINER'" ng-bind="equipment.name | uppercase"></td>
            <td ng-if="equipment.type=='CHASSIS'" ng-bind="equipment.company | uppercase"></td>
            <td ng-bind="equipment.type"></td>
            <td ng-bind="equipment.description"></td>
            <td ng-bind="equipment.height"></td>
            <td ng-bind="equipment.length"></td>
            <td ng-bind="equipment.dropLocation"></td>
            <td ng-bind="equipment.freeDays"></td>
            <td ng-bind="equipment.rent"></td>
            <td>
                <span class="glyphicon glyphicon-pencil" ng-click="edit(equipment)"></span>
                <span class="glyphicon glyphicon-trash" ng-click="delete(equipment,$index)"></span>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td ng-if="equipment.type=='CONTAINER'"><input type="text" ng-model="selected.name"/></td>
            <td ng-if="equipment.type=='CHASSIS'"><input type="text" ng-model="selected.company | uppercase"></td>
            <td><input type="text" ng-model="selected.type" /></td>
            <td><input type="text" ng-model="selected.description" /></td>
            <td><input type="text" ng-model="selected.height" /></td>
            <td><input type="text" ng-model="selected.length" /></td>
            <td><input type="text" ng-model="selected.dropLocation" /></td>
            <td><input type="text" ng-model="selected.freeDays" /></td>
            <td><input type="text" ng-model="selected.rent" /></td>

            <td>
                <span class="glyphicon glyphicon-floppy-saved" ng-click="update($index)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="reset()"></span>
            </td>
        </script>
    </div>
</div>    