<div class='page page-table'>
    <div class='row'>
        <div class='col-sm-6'>
            <form  name="driverPaymentform" class="form-horizontal form">
                <div class='form-header'>
                    <h4>DRIVER PAYMENT</h4>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Please Select Driver</label>
                        <input class='inputBox' ng-model='payment.driverName' id='txtDriverName' list="drivers" placeholder="Select Driver">
                        <datalist id="drivers">
                        <option ng-repeat="driver in driverArray" data-id="{{driver.id}}" value="{{driver.name}}">{{driver.name}}, {{driver.phone}}</option>
                        </datalist>
                    </div>
                    <div class="col-sm-3">
                        <label for='label'>Date From</label>
                        <input class='inputBox compact-form' type='date' ng-model='payment.startDate'/>
                    </div>        
                    <div class='col-sm-3'>
                        <label>Date To</label>
                        <input class='inputBox compact-form' ng-model="payment.endDate" type="date" >        
                    </div>
                </div>
                <div class = 'row'>    
                    <div class="col-sm-2">
                        <md-button ty class="btn-width-large btn-block btn-lg md-primary md-raised"  ng-click="driverPaymentform.$valid && runReport() && closeThisDialog(0);">Report</md-button>
                    </div>
                    <div class="col-sm-2">
                        <md-button class="btn-width-large btn-block btn-lg  btn-warning md-raised" type="reset">Reset</md-button>
                    </div>
                </div>
            </form>
        </div>
        <div class='col-sm-6'>
        </div>
    </div>

<hr/>
    <p class='panel-footer panel-footer-sm panel-footer-primary'>REPORT</p>
  
        <table id='report' class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th><input type='checkbox' ng-model="allSelected" ng-click='toggleRows()'></th>
                    <th>Order#</th>
                    <th>LegId</th>
                    <th>LegTransactionDate</th>
                    <th>LegType</th>

                    <th>Leg Status</th>
                    <th>Flat Rate</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="leg in legsByDate">
                    <td><input type='checkbox' ng-model = "leg.selected" ng-click='generateDriverBill($index)' /></td>
                    <td ng-bind="leg.id"></td>
                    <td ng-bind="leg.id"></td>
                    <th ng-bind="leg.transactionDate"></th>
                    <td ng-bind="leg.legType"></td>
                    <td ng-bind="leg.status"></td>
                    <td ng-bind="leg.legcharges"></td>
                    <td ng-bind="leg.legcharges"></td>
                </tr>
            </tbody>
        </table>
    </div>        
    <div class="row">
        <div class="col-md-6">
        <span>Show
            <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
            </select>
            entries per page
        </span>
    </div>
    <div class="col-md-6 pull-right">
        <pagination class="pagination-sm custom-pagination"
                    ng-model="currentPage"
                    total-items="filteredBrokers.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    boundary-links="true"></pagination>
    </div>
    </div>
</div>    
</div>
