
$color--success: #43A047;
$color--info: #619bf2;
$color--warning: #F2B53F;
$color--danger: #C62828;
$color--info-alt: #a31356;

$color--gray-light: #dedede;
$color--gray-dark: #333;
$color--breadcrumbs: #EAEAEA;
$color--background: #F5F5F5;
$color--brown: #503f3c;
$color--text: #757575;

$navigation__link-color:$color--text;
$navigation__link-color--hover:#ffffff;
$navigation_color:#333;

/*Default style*/

$color--primary: #009688;
$color--accent: #FF5252;
$navigation_color:#424242;

$base__font-size: 14;
$base__line: 20;

@function em($px, $base: $base__font-size) {
    @return ($px / $base) * 1em;
}