<div class='form-header clearfix'>New Order</div>
<form novalidate name = 'orderForm' class="order-form">
    <div style="display: flex">
        <div class="order-form__section">
            <div class="order-form__section__header">BROKER</div>
            <div class="order-form__section__content">
                <div class="order-form-group">
                    <input ng-init="dispatchOrder.orderType='DELIVERY'" type="radio" ng-model="dispatchOrder.orderType" name="orderType" value="DELIVERY">Delivery
                    <input type="radio" ng-model="dispatchOrder.orderType" name="orderType" value="PICKUP">Pickup
                    <input type="radio" ng-model="dispatchOrder.orderType" name="orderType" value="DROP_PICKUP"> Drop
                    <span class="required-asterik">*</span>
                </div>

                <div class="order-form-group">
                    <div class="order-form__data">
                        <label class="form__label" for="brokerName">Broker Name</label>
                        <input class="form__text form__text--large" id='txtBroker' list="brokers" type="text" name="brokerName" ng-blur = 'isBrokerSelectedFromDataList()' required>
                        <datalist id="brokers">
                            <option ng-repeat="broker in brokerArray" data-id="{{broker.id}}" value="{{broker.name}}">{{broker.name}}, {{broker.street}}. {{broker.city}}. {{broker.state}}</option>
                        </datalist>		
                        <span class='order-form-group__dialog-btn'>
                            <button type='button' class='order-form__dialog-btn--flat' data-title="New Broker" ng-click="addBroker()" >
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                        <span class="required-asterik">*</span> 	
                    </div>

                    <div class="order-form__data">
                        <label class="form__label" for="brokerOrderNumber">Broker Order#</label>
                        <input class="form__text" ng-model="dispatchOrder.brokerOrderNumber" type="text" name="brokerOrderNumber" required ng-blur="isBrokerNumberExists()">	
                        <span class="required-asterik">*</span>
                    </div>
                </div>
                <div class="field-message" ng-messages="orderForm.brokerName.$error"     
                ng-if='orderForm.brokerName.$dirty' ng-cloak>
                    <div ng-message="required">Please select Broker from list.</div>
                    <div>{{brokerInformation}}</div>
                </div>
                <div class="field-message" ng-messages="orderForm.brokerOrderNumber.$error" ng-if='orderForm.brokerOrderNumber.$dirty' ng-cloak>
                    <div ng-message="required">Broker Order Number is required.</div>
                </div>  			    			
            </div>
        </div>
        <div class="order-form__section">
            <div class="order-form__section__header">RATE</div>
            <div class="order-form__section__content">
                <div class="order-form-group">
                    <div class="order-form__data">
                        <label class="form__label" for="orderRate">Order Rate</label>
                        <input class='form__text' ng-model="dispatchOrder.orderRate" type="number" name="orderRate" min=0 required >
                        <span class="required-asterik">*</span>	
                    </div>
                    <div class="order-form__data">
                        <input type='checkbox' ng-model='rateChecked'/> %
                        <label class="form__label" for="orderRate">Fuel Charges</label> 
                        <input class='form__text' ng-model="dispatchOrder.fuelCharges" type="number" required>
                        <span class="required-asterik">*</span>
                    </div>
                    <div class="order-form__data">
                        <span ng-if='rateChecked'>  = $ {{dispatchOrder.orderRate * 1 + dispatchOrder.orderRate * (dispatchOrder.fuelCharges * .01) }} </span>
                        <span ng-if='!rateChecked'> = ${{dispatchOrder.orderRate * 1 + dispatchOrder.fuelCharges * 1}}</span>
                    </div>
                </div>
                <div class='order-form-group'>
                    <div class="order-form__data">
                        <label class="form__label" for="extraCharges">Extra Charges</label>
                        <input class="form__text" ng-model="dispatchOrder.extraCharges" type="text" disabled>
                        <span class='order-form-group__dialog-btn'>
                            <button class="order-form__dialog-btn--flat" title="ADD EXPENSE"    ng-click="addOrderCharges(dispatchOrder)">
                                <span class="glyphicon glyphicon-usd"></span>
                            </button>
                        </span>
                    </div>
                    <div class="order-form__data">
                        <span for='txt-total' ng-cloak>TOTAL: ${{dispatchOrder.orderRate * 1 + dispatchOrder.fuelCharges * 1 + dispatchOrder.extraCharges * 1}} </span>
                    </div>
                </div>				
                <div class="field-message" ng-messages="orderForm.orderRate.$error" ng-if='orderForm.orderRate.$dirty' ng-cloak>
                    <div ng-message="required">Order Rate is required.</div>
                    <div ng-message="min">Order Rate must be more than 0.</div>
                </div>				
            </div>
        </div>
    </div>
    <div class="order-form__section">
        <div class="order-form__section__header">SHIPPER/TERMINAL</div>
        <div class="order-form__section__content">
            <div class="order-form-group">
                <div class="order-form__data">
                    <label class="form__label" for="terminalName">Name</label>
                    <input class="form__text form__text--large" id='txtTerminal' list="terminals" type="text" name="shipperName" ng-blur = 'isShipperSelectedFromDataList()' placeholder="Name" required>
                    <datalist id="terminals">
                        <option ng-repeat="company in companyArray" data-id="{{company.id}}" value="{{company.name}}">{{company.name}}, {{company.street}}. {{company.city}}. {{company.state}}</option>
                    </datalist>		
                    <span class='order-form-group__dialog-btn'>
                        <button type='button' class="order-form__dialog-btn--flat" data-title="Terminal/Shipper" ng-click="addCompany()" >
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                    <span class="required-asterik">*</span>   
                </div> 	
                <div class="order-form__data">
                    <label class="form__label" for="Appointment">Appointment</label>
                    <div class="dropdown shipperDate-parent">
                        <a id="shipperDate" role="button"
                            data-toggle="dropdown" data-target=".shipperDate-parent" href="#">
                            <div class="input-group">
                                <input type="text" class="form__text form__text--large" class=data-date-time-input="YYYY-MMM-DD HH:mm" ng-model="dispatchOrder.rampAppointment" /> 
                                <span class="order-form-group__dialog-btn">
                                    <i class="order-form__dialog-btn--flat glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="dispatchOrder.rampAppointment"
                                data-datetimepicker-config="{ dropdownSelector: '#shipperDate' }"></datetimepicker>
                        </ul>

                    </div>                    

                </div>
                <div class="order-form__data">
                    <select class="form__text" ng-model='dispatchOrder.isRampOpenTime'>
                        <option value="">TIME</option>
                            <option value="True">OPEN</option>
                            <option value="False">NO</option>
                        </option>
                    </select>
                </div>
                <div class="order-form__data">
                    <input ng-if="dispatchOrder.isRampOpenTime != 'True'" type='text' ng-model='dispatchOrder.rampOpenTimeAppointment' placeholder="9AM - 5PM" disabled />
                    <input ng-if="dispatchOrder.isRampOpenTime == 'True'" type='text' ng-model='dispatchOrder.rampOpenTimeAppointment' placeholder="9AM - 5PM" />
                </div>
            </div>
            <div class="order-form-group">
                <div class="order-form__data">
                    <label class="form__label" for="rampPUNumber">PU Number</label>
                    <input class="form__text" ng-model="dispatchOrder.rampPUNumber" type="text">
                </div>
                <div class="order-form__data">
                    <label class="form__label" for="rampPULocation">PU Location</label>
                    <input class="form__text" ng-model="dispatchOrder.rampPULocation" type="text">
                </div>
                <div class="order-form__data">
                    <label class="form__label" for="Notes">Delivery Notes</label>
                    <input type="text" class="form__text form__text--xlarge" ng-model="dispatchOrder.rampNotes">
                </div>
            </div>
            <div class="field-message" ng-messages="orderForm.shipperName.$error" ng-if='orderForm.shipperName.$dirty' ng-cloak>
                <div ng-message="required">Please select Shipper/Terminal name from list.</div>
            </div>
            <div class="field-message" ng-clock>
                <div>{{shipperInformation}}</div>
            </div>                				
            <div class="field-message" ng-messages="orderForm.shipperDate.$error" ng-if='orderForm.shipperDate.$dirty' ng-cloak>
                <div ng-message="required">Shipper/Terminal appointment is required.</div>
            </div>  
        </div>
    </div>

    <div class="order-form__section">
        <div class="order-form__section__header">CONSIGNEE</div>
        <div class="order-form__section__content">
			<tabset>
		        <tab ng-repeat="workspace in workspaces"
		             active=workspace.active>
		             <tab-heading>
		             	{{workspace.title}} <a ng-click="removeCurrentTab(workspace.id)">x</a>
		             </tab-heading>	
                     <div class="order-form-group">
                        <div class="order-form__data">
                            <label class="form__label" for="terminalName">Name</label>
                            <input class="form__text form__text--large" id='txtConsignee' ng-model="workspace.name" list="consignees" type="text" name="consigneeName" ng-blur = 'isConsigneeSelectedFromDataList()' placeholder="Name" required>
                            <datalist id="consignees">
                                <option ng-repeat="company in companyArray" data-id="{{company.id}}" value="{{company.name}}">{{company.name}}, {{company.street}}. {{company.city}}. {{company.state}}</option>
                            </datalist>		
                            <span class='order-form-group__dialog-btn'>
                                <button type='button' class="order-form__dialog-btn--flat" data-title="New Consignee" ng-click="addCompany()" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                            <span class="required-asterik">*</span>   
                        </div> 	
                        <div class="order-form__data">
                            <label class="form__label" for="Appointment">Appointment</label>
                            <div class="dropdown shipperDate-parent">
                                <a id="shipperDate" role="button"
                                    data-toggle="dropdown" data-target=".consignee-parent" href="#">
                                    <div class="input-group">
                                        <input type="text" class="form__text form__text--large" class=data-date-time-input="YYYY-MMM-DD HH:mm" ng-model="workspace.selectedDate" /> 
                                        <span class="order-form-group__dialog-btn">
                                            <i class="order-form__dialog-btn--flat glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="workspace.selectedDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#consignee-date' }"></datetimepicker>
                                </ul>
                            </div>                    
        
                        </div>
                        <div class="order-form__data">
                            <select class="form__text" ng-model='workspace.isOpenTime'>
                                <option value="">TIME</option>
                                    <option value="True">OPEN</option>
                                    <option value="False">NO</option>
                                </option>
                            </select>
                        </div>
                        <div class="order-form__data">
                            <input ng-if="workspace.isOpenTime != 'True'" type='text' ng-model='workspace.openTimeAppointment' placeholder="9AM - 5PM" disabled />
                            <input ng-if="workspace.isOpenTime == 'True'" type='text' ng-model='workspace.openTimeAppointment' placeholder="9AM - 5PM" />
                        </div>
                    </div>
                    <div class="order-form-group">
                        <div class="order-form__data">
                            <label class="form__label" for="PUNumber">PU Number</label>
                            <input class="form__text" ng-model="workspace.puNumber" type="text">
                        </div>
                        <div class="order-form__data">
                            <label class="form__label" for="Ref Number">Reference Number</label>
                            <input class="form__text" ng-model="workspace.refNumber" type="text">
                        </div>
                        <div class="order-form__data">
                            <label class="form__label" for="Notes">Delivery Notes</label>
                            <input type="text" class="form__text form__text--xlarge" ng-model="workspace.deliveryNotes">
                        </div>
                    </div>
                    <div class="field-message" ng-messages="orderForm.consigneeName.$error" ng-if='orderForm.consigneeName.$dirty' ng-cloak>
                        <div ng-message="required">Please select Consignee from list.</div>
                    </div>
                    <div class="field-message" ng-clock>
                        <div>{{consigneeInformation}}</div>
                    </div>                				
                    <div class="field-message" ng-messages="orderForm.consigneeDate.$error" ng-if='orderForm.consigneeDate.$dirty' ng-cloak>
                        <div ng-message="required">Consignee appointment is required.</div>
                    </div>  		            	
		        </tab>
		        <tab select="addWorkspace()">
		            <tab-heading>
		                <span class="glyphicon glyphicon-plus"></span>
		            </tab-heading>
		        </tab>
		    </tabset>
		</div>   
	</div>

    <div style="display: flex">
        <div class="order-form__section">
            <div class="order-form__section__header">CONTAINER</div>
            <div class="order-form__section__content">
                <div class="order-form-group">
                    <div class="order-form__data">
                        <label class="form__label" for="deliveryContainerNumber">Delivery Container #</label>
                        <input class='form__text' ng-model="dispatchOrder.deliveryContainerNumber" name = "deliveryContainer" type="text" required>
                        <span class="required-asterik">*</span>	
                    </div>
                    <div class="order-form__data">
                        <label class="form__label" for="pickupContainerNumber">Pickup Container #</label>
                        <input class="form__text" ng-if="dispatchOrder.orderType=='DROP_PICKUP'" ng-model="dispatchOrder.pickupContainerNumber" name = "PickupContainer" type="text">
                        <input class="form__text" ng-if="dispatchOrder.orderType !='DROP_PICKUP'" ng-model="dispatchOrder.pickupContainerNumber" type="text" disabled="true">				
                        <span class="required-asterik">*</span>
                    </div>
                </div>	    		
                <div class='order-form-group'>
                    <div class="order-form__data">
                        <label class="form__label" for="containerType">Container Type</label>
                        <input class="form___text form__text--large" id='txtContainerType' list="containers" type="text" ng-blur = 'isContainerSelectedFromDataList()'>
                        <datalist id="containers">
                            <option ng-repeat="container in equipmentArray" data-id='{{container.id}}' value="{{container.name}}">{{container.name}}, {{container.dropLocation}}</option>
                        </datalist>
                        <span class='order-form-group__dialog-btn'>
                            <button type='button' class='order-form__dialog-btn--flat' data-title="New Container" ng-click="addEquipment()" >
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>	    
                    </div>
                </div> 
                <div>{{dropLocation}}</div>
                <div class="field-message" ng-messages="orderForm.deliveryContainer.$error" ng-if='orderForm.deliveryContainer.$dirty' ng-cloak>
                    <div ng-message="required">Container Number is required.</div>
                </div>
                <div class="field-message" ng-clock>
                    <div>{{containerInformation}}</div>
                </div>                  
            </div>
        </div>
        <div class="order-form__section">
            <div class="order-form__section__header">CHASSIS</div>
            <div class="order-form__section__content">
                <div class="order-form-group">
                    <div class="order-form__data">
                        <label class="form__label" for="chassisNumber">Chassis #</label>
                        <input class='float__text' ng-model="dispatchOrder.chassisNumber" type="text">
                    </div>
                    <div class="order-form__data">
                        SPLIT:
                        <input ng-init="dispatchOrder.isChassisSplit='False'" type="radio" ng-model="dispatchOrder.isChassisSplit" name="chassisSplit" value="False">NO
                        <input type="radio" ng-model="dispatchOrder.isChassisSplit" name="chassisSplit" value="True">YES
                    </div>
                </div>
                <div class="order-form-group">
                    <div class="order-form__data">
                        <label class="form__label" form="chassisCompany">Company</label>
                        <input class="form__text form__text--large" id='txtChassisType' list="chassis" type="text"  ng-blur = 'isChassisSelectedFromDataList()'>
                            <datalist id="chassis">
                                <option ng-repeat="chassis in equipmentArray" data-id='{{chassis.id}}' value="{{chassis.company}}">{{chassis.company}}, {{chassis.chassisRent | currency}}</option>
                            </datalist>
                        <span class='order-form-group__dialog-btn'>
                            <button type='button' class='order-form__dialog-btn--flat' data-title="New Chassis" ng-click="addEquipment()" >
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>    
                </div>
                <div class="field-message" ng-clock>
                    <div>{{chassisInformation}}</div>
                </div>
            </div>
        </div>
    </div>

	<div class='row'>
        <div class="col-sm-2">
            <input type="submit" ng-disabled="orderForm.$invalid" class="btn btn-primary" value="Save" ng-click="orderForm.$valid && ok() && closeThisDialog(0);" >
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-default" value="Reset" type="reset">
        </div>
    </div>   
</form>
