
<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li class="active">Add Order</li>
    </ol>
</div>
<!-- end Breadcrumbs -->

<div class="page page-dashboard" >

    <form name="orderform" class="form-horizontal">

    <section>

        <div class="row">

            <div class="col-sm-4">
                <section class="md-content-section">

                    <md-content>
                        <div class="md-content__body">
                            <fieldset>
                                <legend class="legend-heading">
                                    LOAD TYPE
                                </legend>
                                <md-input-container md-no-float>
                                    <md-radio-group ng-init="dispatchOrder.loadType='delivery'" ng-model="dispatchOrder.loadType">
                                        <md-radio-button value="delivery" class="md-primary">Delivery</md-radio-button>
                                        <md-radio-button value="pickup"> PickUp </md-radio-button>
                                    </md-radio-group>
                                </md-input-container>
                            </fieldset>
                        </div>
                    </md-content>

                </section>


                <section class="md-content-section">

                    <md-content  style="overflow: visible">
                        <div class="md-content__body">
                            <fieldset>
                                <legend class="legend-heading">
                                    EQUIPMENT
                                </legend>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <md-autocomplete flex required
                                                             md-input-minlength="2"
                                                             md-input-maxlength="18"
                                                             md-no-cache="noCache"
                                                             md-selected-item="selectedEquipmentItem"
                                                             md-search-text="searchEquipmentText"
                                                             md-items="item in querySearchEquipment(searchEquipmentText)"
                                                             md-item-text="item.name"
                                                             md-floating-label="Name">
                                                <md-item-template>
                                                    <span md-highlight-text="searchEquipmentText" md-highlight-flags="^i">{{item.name}}</span>
                                                </md-item-template>
                                            </md-autocomplete>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <button style="background-color: #009688 ;color: #fff;" class="btn-width-large btn-block btn-lg md-primary md-raised" ng-click="addEquipment()">+</button>
                                            </md-input-container>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Description</label>
                                                <textarea ng-model="dispatchOrder.description" md-maxlength="150" rows="2" md-select-on-focus required />
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </md-content>

                </section>

                <section class="md-content-section">

                    <md-content  style="overflow: visible">
                        <div class="md-content__body">
                            <fieldset>
                                <legend class="legend-heading">
                                    ORDER RATE
                                </legend>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Base Rate</label>
                                                <input ng-model="dispatchOrder.orderRate" type="number" required >
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">FSC</label>
                                                <input ng-model="dispatchOrder.fuelCharges" type="number" required >
                                            </md-input-container>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Total :
                                                {{ dispatchOrder.orderRate *1 + dispatchOrder.fuelCharges *1}}
                                                </label>

                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </md-content>

                </section>

            </div>

            <div class="col-sm-8" >
                <section class="md-content-section">

                    <md-content  style="overflow: visible">
                        <div class="md-content__body">
                            <fieldset>
                                <legend class="legend-heading">
                                    BROKER
                                </legend>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Date</label>
                                                <input  ng-required="true" type='text' id='orderDatePicker' ng-model="dispatchOrder.orderDate"/>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Order #</label>
                                                <input ng-model="dispatchOrder.brokerOrderNumber" type="text" required >
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <md-autocomplete flex required
                                                             md-input-minlength="2"
                                                             md-input-maxlength="18"
                                                             md-no-cache="noCache"
                                                             md-selected-item="selectedBrokerItem"
                                                             md-search-text="searchBrokerText"
                                                             md-items="item in querySearchBroker(searchBrokerText)"
                                                             md-item-text="item.name"
                                                             md-floating-label="Name">
                                                <md-item-template>
                                                    <span  md-highlight-text="searchBrokerText" md-highlight-flags="^i">{{item.name}}</span>
                                                </md-item-template>
                                            </md-autocomplete>
                                        </div>
                                    </div>

                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <button style="background-color: #009688 ;color: #fff;" class="btn-width-large btn-block btn-lg md-primary md-raised" ng-click="addBroker()">+</button>
                                            </md-input-container>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Address : {{selectedBrokerItem.street + " "+selectedBrokerItem.city +" "+selectedBrokerItem.state +" "+selectedBrokerItem.country +" "+selectedBrokerItem.zip }}
                                                </label>
                                                </md-input-container>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </md-content>

                </section>
                <section class="md-content-section">

                    <md-content style="overflow: visible">
                        <div class="md-content__body">
                            <fieldset>
                                <legend class="legend-heading">
                                    DESTINATION
                                </legend>

                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Date</label>
                                                <input type='text' id='destinationDatePicker' ng-model="dispatchOrder.destinationAppointmentDate" required />
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <md-autocomplete flex required
                                                             md-input-minlength="2"
                                                             md-input-maxlength="18"
                                                             md-no-cache="noCache"
                                                             md-selected-item="selectedDestinationItem"
                                                             md-search-text="searchDestinationText"
                                                             md-items="item in querySearchCompany(searchDestinationText)"
                                                             md-item-text="item.name"
                                                             md-floating-label="Name">
                                                <md-item-template>
                                                    <span md-highlight-text="searchDestinationText" md-highlight-flags="^i">{{item.name}}</span>
                                                </md-item-template>
                                            </md-autocomplete>
                                        </div>
                                    </div>

                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <button style="background-color: #009688 ;color: #fff;" class="btn-width-large btn-block btn-lg md-primary md-raised" ng-click="addCompany()">+</button>
                                            </md-input-container>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Address : {{selectedDestinationItem.street + " "+selectedDestinationItem.city +" "+selectedDestinationItem.state +" "+selectedDestinationItem.country +" "+selectedDestinationItem.zip }}
                                                </label>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </md-content>

                </section>
                <section class="md-content-section">

                    <md-content  style="overflow: visible">
                        <div class="md-content__body">
                            <fieldset>
                                <legend class="legend-heading">
                                    CONSIGNEE
                                </legend>

                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Date</label>
                                                <input type='text' id='consigneeDatePicker' ng-model="dispatchOrder.consigneeAppointmentDate" required />
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#consigneeDatePicker').datetimepicker();
                                            $('#destinationDatePicker').datetimepicker();
                                            $('#orderDatePicker').datetimepicker();

                                        });


                                    </script>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <md-autocomplete flex required
                                                             md-input-minlength="2"
                                                             md-input-maxlength="18"
                                                             md-no-cache="noCache"
                                                             md-selected-item="selectedConsigneeItem"
                                                             md-search-text="searchConsigneeText"
                                                             md-items="item in querySearchCompany(searchConsigneeText)"
                                                             md-item-text="item.name"
                                                             md-floating-label="Name">
                                                <md-item-template>
                                                    <span md-highlight-text="searchConsigneeText" md-highlight-flags="^i">{{item.name}}</span>
                                                </md-item-template>
                                            </md-autocomplete>
                                        </div>
                                    </div>

                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <button style="background-color: #009688 ;color: #fff;" class="btn-width-large btn-block btn-lg md-primary md-raised" ng-click="addCompany()">+</button>
                                            </md-input-container>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <md-input-container md-no-float>
                                                <label for="label">Address : {{selectedConsigneeItem.street + " "+selectedConsigneeItem.city +" "+selectedConsigneeItem.state +" "+selectedConsigneeItem.country +" "+selectedConsigneeItem.zip }}
                                                </label>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </md-content>

                </section>
            </div>

        </div>

    </section>

    <div class="form-group">

        <div class="col-sm-6">
            <md-button class="btn-width-large btn-block btn-lg md-primary md-raised"  ng-click="orderform.$valid && ok();" >Save</md-button>
        </div>
        <div class="col-sm-6">
            <md-button class="btn-width-large btn-block btn-lg  btn-warning md-raised" type="reset">Reset</md-button>
        </div>

    </div>
   </form>

</div>

