.bottomSheet {
  /* Temporary fix until md-icon is working, DO NOT USE! */
}

.bottomsheet--grid md-icon {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.bottomsheet--list .md-inline-list-icon-label {
  padding-left: 20px;
  display: inline-block;
  margin-top: -5px;
  height: 24px;
  vertical-align: middle;
}

md-bottom-sheet.md-grid md-item p.md-grid-text {
  font-size:14px;
}

