.breadcrumb {
  padding: {
    left:50px;
    right:15px;
    top:15px;
    bottom:15px;
  }
  @include border-radius(0px);
  margin: {
    bottom:0px;
  }
}

.breadcrumb > li + li:before {
  color: #e9e9e9;
}

.breadcrumb > .active {
  color: #999;
}