@import "compass";


.about-us-wrapper {
  background-color: #0093dd;
  color: #fff;
}

.about-us {
  .section-heading::after {
    background-color: #fff;
  }
  p {
    margin: 0 auto 30px auto;

    &.lead.last {
      margin-bottom: 0;
    }

    &.p1 {
      max-width: 625px;
    }

    &.p2 {
      max-width: 600px;
    }
  }
}
