@import "compass";

.careers-wrapper {
  color: #fff;
  background-color: rgb(238,138,29);

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
  }

  .section-heading::after {
    background-color: #fff;
  }
  .p1 {
    max-width: 895px;
    margin-left: auto;
    margin-right: auto;
  }
}