@import "compass";

.contact-wrapper {
  background: #cacaca;

  #alert-message {
    font-size: 14px;
  }

  .reach-us-options-row {
    margin-bottom: 30px;
    color: #484848;

    .reach-us-option-column {
      text-align: center;
    }

    .fa {
      font-size: 36px;
    }

    .address-link {
      span {
        display: block;
      }
    }
    ul.list-unstyled, .address-link {
      display: block;
      margin-top: 15px;
      font-size: 14px;
    }

    a {
     color: #484848;
      &:hover {
        color: #337ab7;
      }
    }
  }

  .contact-form {
    .form-control {
      @include border-radius(0);
      border: 1px solid #a7a7a7;
      background: #cacaca;
      height: auto;
      font-size: 14px;
      width: 100%;

      &:focus {
        border-color: #66afe9;
      }
    }

    #comments {
      height: 73px;
    }


    .btn-primary {
      @include border-radius(0);
      width: 100%;
      background: #0093dd;
      border:0;
    }
  }
}

@media (max-width: 767px) {
  .contact-wrapper {
    .reach-us-options-row {
      ul.list-unstyled, .address-link {
        margin-bottom: 45px;
      }
    }
  }
}