@import "compass";


.footer {
  background: #4b4b4b;
  color: #fff;
  padding: 25px 0;
  text-align: center;

  p {
    margin-bottom: 0;

    &.promo {
      margin-top: 25px;
      font-size: 11px;
    }
  }
  a {
    color: #fff !important;
    text-decoration: underline;
    margin-left: 2px;
  }
}

#privacy-policy-model {
  section {
    margin-bottom: 25px;
  }

  p, li {
    font-size: 12px;
  }


}
