@import "compass";


body .navbar-wrapper {
  @include box-shadow(none);
//  @include box-shadow(0px 5px 5px -5px rgba(0,0,0,0.75));
  background: transparent;
  position: absolute;
  margin-top: 0;
  padding: 5px 0;
  top: 0;
  right: 0;
  left: 0;
  left: 0;
  z-index: 20;

  > .container {
    padding-right: 0;
    padding-left: 0;
  }


  .nav-top {
    ul {
      float: right;
      margin-right: 30px;
    }
    li {
      margin-left: 10px;
      display: inline-block;

      a {
        color: #fff;
      }
    }
  }

  #custom-nav {
    @include border-radius(0);
    background: transparent;
    border: 0;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
    position: static;


    .container {
      width: auto;
    }

    .navbar-brand {
      background: url("../images/logo.png") center;
      background-size: 200px auto;
      color: #222;
      text-shadow: none;
      text-indent: -12345px;
      width: 200px;
    }


    .nav li {
      a {
        color: #fff;
        font-size: 12px;
        text-shadow: none;
        text-transform: uppercase;
      }

      &.active {
        a {
          background: none;
          @include box-shadow(none);
          box-shadow: none;
        }
      }
    }

    .navbar-header {
      float: none;
    }

    &.navbar-inverse {
      .navbar-toggle {
        @include transition(color 300ms ease);
        margin: 12px 0 0 0;
        padding: 0;
        border: 0;
        color: #fff;
        display: block;

        &:hover, &:focus {
          background: none;
          color: rgb(84,145,218);

          .bars {
            .icon-bar {
              background-color: rgb(84,145,218);
            }
          }
        }
        .bars {
          display: inline-block;
          vertical-align: middle;

          .icon-bar {
            @include border-radius(3px);
            @include transition(background-color 300ms ease);
            height: 2px;
            background-color: #fff;
          }
        }

        .button-text {
          display: inline-block;
          font-size: 24px;
          margin-left: 5px;
          vertical-align: middle;
          font-weight: 100;
          font-variant: small-caps;
        }

        &:hover, &:focus {
          .icon-bar {
            background-color: #fff;
          }
        }
      }
    }
  }
}

#navbar-menu {
  @include transform(translate(100%, 0px));
  @include transition(all 0.3s linear 0s);
  display: block;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 145, 224, 0.99);
  top: 0;
  right: 0;
  min-width: 235px;
  height: 100%;

  &.show {
    @include transform(translate(0px, 0px));
  }


  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;

    &#hide-menu {
      position: absolute;

      font-size: 35px;
      top: 25px;
      right: 25px;
    }
  }

  li.active {
    a {
      color: rgba(255,255,255,0.7);
      text-decoration: none;
      cursor: default;
    }
  }

  .menu-items-wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }
  ul {
    display: table-cell;
    vertical-align: middle;

    li  {
      text-align: center;
      border-bottom: 1px solid #fff;
      padding: 30px 0;
      margin: 0 30px;

      &:first-child {
        border-top: 1px solid #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;

    .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    .navbar {
      padding-right: 0;
      padding-left: 0;
      border-radius: 4px;
    }
  }
}

@media (max-width: 991px) {
  .navbar-menu {

    a#hide-menu {
      font-size: 30px;
      top: 15px;
      right: 15px;
    }

    ul {
      li {
        padding: 25px 0;
        a {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .navbar-menu {
    min-width: 100%;

    a#hide-menu {
      font-size: 24px;
      top: 15px;
      right: 15px;
    }

    ul {
      li {
        padding: 20px 0;
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-height: 300px) {

  .navbar-menu {
    min-width: 100%;

    a#hide-menu {
      font-size: 20px;
      top: 10px;
      right: 10px;
    }

    ul {
      li {

        margin: 0 60px;

        padding: 10px 0;
        a {
          font-size: 12px;
        }
      }
    }
  }
}