@import "compass";

.services {
    .icon {
      color: #a7a7a7;
      border: 5px solid #e1e1e1;
      width: 68px;
      height: 68px;
      line-height: 50px;
      text-align: center;
      @include border-radius(50%);
      margin-top: 10px;
      font-size: 26px;

      .fa {
        margin-right: auto;
        margin-left: auto;
        line-height: 58px;
      }
    }

  ul.list-unstyled {
    margin-bottom: 0;
  }

  // Animations
  .service {
    @include transition(opacity 500ms ease);
    margin-bottom: 30px;
    opacity: 0;

    p {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.ready {
    .service {
      opacity: 1;
    }
  }

  .service-1 {
    @include transition-delay(0ms);
  }

  .service-2 {
    @include transition-delay(300ms);
  }

  .service-3 {
    @include transition-delay(600ms);
  }

  .service-4 {
    @include transition-delay(900ms);
  }

  .service-5 {
    @include transition-delay(1200ms);
  }

  .service-6 {
    @include transition-delay(1500ms);
  }
}

@media (min-width: 992px) {
  .services {
    .first-column {
      text-align: right;
    }
  }
}

@media (max-width: 991px) {
  .services {
    text-align: center;

    .icon {
      margin: auto;
    }

    .second-column {
      margin-top: 30px;
    }
  }
}

/**
 *  Our Approach
 **/

.our-approach-wrapper {
  position: relative;
  background: #0093dd;
  color: #fff;

  .section-heading::after {
    background-color: #fff;
  }

  #remove-selected {
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    height: 40px;
    width: 40px;
    outline: 0;
    text-decoration: none;
    position: absolute;
    display: none;
    right: 40px;
    top: 50px;
    z-index: 100;

    .fa {
      font-weight: 100;
    }
  }

  &.carousel-mode {
    background-size: cover;
    background-position: 50% 50%;

    .bg-wrapper {
      background: rgba(0,0,0, 0.7);
    }

    #remove-selected {
      display: inline-block;

      &:hover {
        @include transition(all 300ms ease);
        color: #337ab7;
        border-color: #337ab7;
      }
    }

    h2, .intro {
      visibility: hidden;
    }

    .our-approach .boxes .box {
      display: none;

      &.selected {
        @include border-radius(0);
        border: 0;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        background: none;
        width: auto;
        height: auto;

        h6 {
          a {
            background: none;
            text-align: left;
            line-height: 1.2;
            position: static;
            color: #fff;
            font-size: 50px;

            &:hover {
              color: #fff;
              font-size: 50px;
            }
          }
        }

        .lead {
          opacity: 1;
          @include transition(all 1000ms ease 300ms);
        }
      }
    }

    .center-line {
      display: none;
    }
  }

}



.col-custom-2 {
  width: 20%;
  float: left;
}
.our-approach {
  .boxes-container {
    .center-line {
      border-width: 3px;
      position: absolute;
      bottom: 63px;
      left: 114px;
      right: 114px;
      z-index: 1;
    }
  }

  .boxes {
    @include clearfix();
    margin-top: 70px;
    margin-bottom: 0;
    text-align: center;
    min-height: 130px;

    z-index: 5;



    li {
      padding: 0;
      z-index: 2;
    }

    .box {
      @include border-radius(50%);
      border: 3px solid #fff;
      background: rgb(3,102,151);
      margin: auto;
      position: relative;
      width: 130px;
      height: 130px;
      overflow: hidden;
      z-index: 2;

      &:hover {
        border-color: rgb(3,102,151);
      }


      h6 {
        margin: 0;

        a {
          outline: 0;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          vertical-align: middle;
          line-height: 124px;
          background: rgba(0,0,0,0.5);
          color: #fff;
          font-size: 18px;
          text-decoration: none;
          z-index: 10;

          &:hover {
            color: #0093dd;
            background: #fff;
          }
        }
      }


      .lead {
        opacity: 0;
        margin-top: 50px;
        position: relative;
        z-index: 2;
      }
    }
  }
}


@media (max-width: 991px) {
  .our-approach .boxes li {
     width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}