<footer style='    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    margin-left: 166px;
    background: rgba(13, 13, 13, 0.66);
    color: #fff;
    font-size: 10px;
    padding: 5px;'>
	<div class="pull-right hidden-xs"></div>
    <strong>Copyright &copy; 2014-2017. ChuckTruck LLC. </strong> All rights
        reserved.
</footer>