<div class="nav-bar nav-bar--fixed">
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="sidebar-menu__item">
                <div class="tenant">
                    <h3 class="tenant__name">Newport Carriers</h3>
                    <p class="tenant__account">
                       <label> <span class="status__label">Account</span>TRIAL</label>
                       <label> <span class="status__label">Exp Date</span>2017-07-10</label>
                    </p>
                </div>
            </li>
            <li class="sidebar-menu__item" 
                ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "DISPATCHER"' 
                ng-class="{active : activeMenu === 'Order'}" > 
                <a class="side-link-button" ng-class="{active : activeMenu === 'Order'}" ui-sref="app.order.all" ng-click="setActive('Order')">
                    <i class="fa fa-dashboard"></i>
                    Dispatch Board
                </a>
            </li>
            <li class="sidebar-menu__item" ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "DISPATCHER"'
                ng-class="{active : activeMenu === 'Broker'}">
                <a class="side-link-button" ng-class="{active : activeMenu === 'Broker'}" ui-sref="app.broker.all"  ng-click="setActive('Broker')">
                    <i class="fa fa-dashboard"></i>
                    Broker
                </a>
            </li>
            <li class="sidebar-menu__item" ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "DISPATCHER"'
            ng-class="{active : activeMenu === 'Company'}" >
                <a class="side-link-button" ng-class="{active : activeMenu === 'Company'}" ui-sref="app.company.all"  ng-click="setActive('Company')">
                    <i class="fa fa-dashboard fa-block"></i>
                    Company
                </a>
            </li>
            <li class="sidebar-menu__item" ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "DISPATCHER"'
            ng-class="{active : activeMenu === 'Driver'}" >
                <a class="side-link-button" ng-class="{active : activeMenu === 'Driver'}" ui-sref="app.driver.all" ng-click="setActive('Driver')">
                    <i class="fa fa-dashboard fa-block"></i>
                    Driver
                </a>
            </li>
            <li class="sidebar-menu__item" ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "DISPATCHER"'
            ng-class="{active : activeMenu === 'Equipment'}" >
                <a  class="side-link-button" ng-class="{active : activeMenu === 'Equipment'}" ui-sref="app.equipment.all" ng-class="{active: activeMenu === 'Equipment'}"  ng-click="setActive('Equipment')">
                    <i class="fa fa-dashboard fa-block"></i>
                    Equipment
                </a>
            </li>
            <li class="sidebar-menu__item" ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "ACCOUNTANT"'
            ng-class="{active : activeMenu === 'Invoice'}" >
                <a  class="side-link-button"  ng-class="{active : activeMenu === 'Invoice'}"  ui-sref="app.invoice.all" ng-class="{active: activeMenu === 'Invoice'}"  ng-click="setActive('Invoice')">
                    <i class="fa fa-dashboard fa-block"></i>
                    Invoice
                </a>
            </li>  
            <li class="sidebar-menu__item" ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "ACCOUNTANT"'
            ng-class="{active : activeMenu === 'Bill Payment'}" >
                <a  class="side-link-button" ng-class="{active : activeMenu === 'Bill Payment'}" ui-sref="app.bill.all" ng-class="{active: activeMenu === 'BillPayment'}"  ng-click="setActive('Bill Payment')">
                    <i class="fa fa-dashboard fa-block"></i>
                    Bill Payment
                </a>
            </li> 
            <li class="sidebar-menu__item" ng-if='currentUser.roles[0] == "ADMIN" || currentUser.roles[0] == "ACCOUNTANT"'
            ng-class="{active : activeMenu === 'Distance-Rate'}" >
                <a  class="side-link-button" ng-class="{active : activeMenu === 'Distance-Rate'}" ui-sref="app.distanceRate.all" ng-class="{active: activeMenu === 'Distance-Rate'}"  ng-click="setActive('Distance-Rate')">
                    <i class="fa fa-dashboard fa-block"></i>
                    Distance-Rate
                </a>
            </li>                        
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</div>