<div id="dashboardHeader" class="top-header">
    <ul ng-controller="signinCtrl" class="nav__actions">
        <li class="nav__actions__item">
            <a href="#" class="link link-button" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                Alert
            </a>
            <div class="dropdown-menu__body">
                <label>View as</label>
                <a class="selected" href="?userView=Admin">Admin</a>
                <a href="?userView=Publisher">Publisher</a>
                <a href="?userView=Public">Public</a>
                <hr>
                <a href="/viewing?uid=0037000000fWIuIAAW">Impersonate</a>
                <hr>
                <a href="/user/config?s=100123">Edit Settings</a>
            </div>
        </li>
        <li class="nav__actions__item" ng-if='currentUser.roles[0] == "ADMIN"'>
            <a href="#" class="link link-button" data-toggle="dropdown">
                <i class="icon-cog"></i> Account 
            </a>
            <div class="dropdown-menu__body">
                <a ng-click="addUser()">New User</a>
                <a ng-click="listUsers()">Users</a>
                <a href="javascript:;">Settings</a>
                <a href="javascript:;">Help</a>
            </div>
        </li>
        <li class="nav__actions__item">
            <a href="#"  class="link link-button" data-toggle="dropdown">
                <i class="icon-user"></i> 
                {{$root.user.firstname}} {{$root.user.lastname}}
            </a>
            <div class="dropdown-menu__body">
                <a ng-click="logout()">Logout</a>
            </div>
        </li>
    </ul>
</div>
