<div class='form-header clearfix'>Enter Check Information</div>
    <form  name="checkDetailForm" class="form-horizontal form">
        <div class="row">
            <div class="col-sm-3">
                <input class='form-control' type="text" ng-model="checkDetail.checkNumber" name="CheckNumber" placeholder="Enter Check Number" type="text" required >
            </div>
            <div class="col-sm-3">
                <input class='form-control' ng-model="checkDetail.amount" pattern="\d*" placeholder="Amount" type="number" required >
            </div>

            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" ng-click="checkDetailForm.$valid && ok() && closeThisDialog(0);" value = "Ok">
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-default" value="Reset" type="reset">
            </div>
        </div>        
    </form>            
    <div class='row'>
        <div class='col-md-12 col-sm-12'>
            <div class="table-dynamic">
                <table class="table-order table-striped table-hover">
                    <thead>
                        <tr>
                        <th>Id</th>
                        <th>CheckNumber</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount</th>
                        <th>Received Date</th>
                        <th>Cleared Date</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="check in checkDetails" ng-include="getTemplate(check)">
                        </tr>
                    </tbody>
                </table>
            </div>                    
        </div>
    </div>
 <script type="text/ng-template" id="display">
        <td ng-bind="check.id"></td>
        <td ng-bind="check.checkNumber"></td>
        <td ng-bind="check.from | uppercase"></td>
        <td ng-bind="check.to | uppercase"></td>
        <td ng-bind="check.amount"></td>
        <td ng-bind="check.receivedDate"></td>
        <td ng-bind="check.clearedDate"></td>
        <td>
            <span class="glyphicon glyphicon-pencil" ng-click="edit(check)"></span>
            <span class="glyphicon glyphicon-trash" ng-click="delete(check,$index)"></span>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td ng-bind="expense.id"></td>
        <td><input type="date" ng-model="selected.expenseStartDate"></td>
        <td><input type="text" ng-model="selected.name" /></td>
        <td><input type="text" ng-model="selected.amount"></td>
        <td ng-bind="selected.amount"></td>
        <td ng-bind="selected.totalAmount"></td>
        <td>
             <input type='radio' name='ExpenseType' value='BILLABLE' ng-model="selected.type" />Billable<br/>
             <input type='radio' name='ExpenseType' value='NON_BILLABLE' ng-model="selected.type" />Non-Billable   
        </td>
        <td>
            <span class="glyphicon glyphicon-floppy-saved" ng-click="update($index)"></span>
            <span class="glyphicon glyphicon-remove" ng-click="reset()"></span>
        </td>
    </script>        