/* line 4, ../../scss/home/about.scss */
.about-us-wrapper {
  background-color: #0093dd;
  color: #fff;
}

/* line 10, ../../scss/home/about.scss */
.about-us .section-heading::after {
  background-color: #fff;
}
/* line 13, ../../scss/home/about.scss */
.about-us p {
  margin: 0 auto 30px auto;
}
/* line 16, ../../scss/home/about.scss */
.about-us p.lead.last {
  margin-bottom: 0;
}
/* line 20, ../../scss/home/about.scss */
.about-us p.p1 {
  max-width: 625px;
}
/* line 24, ../../scss/home/about.scss */
.about-us p.p2 {
  max-width: 600px;
}
