/* line 3, ../../scss/home/careers.scss */
.careers-wrapper {
  color: #fff;
  background-color: #ee8a1d;
}
/* line 7, ../../scss/home/careers.scss */
.careers-wrapper a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
/* line 13, ../../scss/home/careers.scss */
.careers-wrapper .section-heading::after {
  background-color: #fff;
}
/* line 16, ../../scss/home/careers.scss */
.careers-wrapper .p1 {
  max-width: 895px;
  margin-left: auto;
  margin-right: auto;
}
