/* line 3, ../../scss/home/contact.scss */
.contact-wrapper {
  background: #cacaca;
}
/* line 6, ../../scss/home/contact.scss */
.contact-wrapper #alert-message {
  font-size: 14px;
}
/* line 10, ../../scss/home/contact.scss */
.contact-wrapper .reach-us-options-row {
  margin-bottom: 30px;
  color: #484848;
}
/* line 14, ../../scss/home/contact.scss */
.contact-wrapper .reach-us-options-row .reach-us-option-column {
  text-align: center;
}
/* line 18, ../../scss/home/contact.scss */
.contact-wrapper .reach-us-options-row .fa {
  font-size: 36px;
}
/* line 23, ../../scss/home/contact.scss */
.contact-wrapper .reach-us-options-row .address-link span {
  display: block;
}
/* line 27, ../../scss/home/contact.scss */
.contact-wrapper .reach-us-options-row ul.list-unstyled, .contact-wrapper .reach-us-options-row .address-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}
/* line 33, ../../scss/home/contact.scss */
.contact-wrapper .reach-us-options-row a {
  color: #484848;
}
/* line 35, ../../scss/home/contact.scss */
.contact-wrapper .reach-us-options-row a:hover {
  color: #337ab7;
}
/* line 42, ../../scss/home/contact.scss */
.contact-wrapper .contact-form .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #a7a7a7;
  background: #cacaca;
  height: auto;
  font-size: 14px;
  width: 100%;
}
/* line 50, ../../scss/home/contact.scss */
.contact-wrapper .contact-form .form-control:focus {
  border-color: #66afe9;
}
/* line 55, ../../scss/home/contact.scss */
.contact-wrapper .contact-form #comments {
  height: 73px;
}
/* line 60, ../../scss/home/contact.scss */
.contact-wrapper .contact-form .btn-primary {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
  background: #0093dd;
  border: 0;
}

@media (max-width: 767px) {
  /* line 72, ../../scss/home/contact.scss */
  .contact-wrapper .reach-us-options-row ul.list-unstyled, .contact-wrapper .reach-us-options-row .address-link {
    margin-bottom: 45px;
  }
}
