/* line 4, ../../scss/home/footer.scss */
.footer {
  background: #4b4b4b;
  color: #fff;
  padding: 25px 0;
  text-align: center;
}
/* line 10, ../../scss/home/footer.scss */
.footer p {
  margin-bottom: 0;
}
/* line 13, ../../scss/home/footer.scss */
.footer p.promo {
  margin-top: 25px;
  font-size: 11px;
}
/* line 18, ../../scss/home/footer.scss */
.footer a {
  color: #fff !important;
  text-decoration: underline;
  margin-left: 2px;
}

/* line 26, ../../scss/home/footer.scss */
#privacy-policy-model section {
  margin-bottom: 25px;
}
/* line 30, ../../scss/home/footer.scss */
#privacy-policy-model p, #privacy-policy-model li {
  font-size: 12px;
}
