/* line 4, ../../scss/home/nav.scss */
body .navbar-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  position: absolute;
  margin-top: 0;
  padding: 5px 0;
  top: 0;
  right: 0;
  left: 0;
  left: 0;
  z-index: 20;
}
/* line 17, ../../scss/home/nav.scss */
body .navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
/* line 24, ../../scss/home/nav.scss */
body .navbar-wrapper .nav-top ul {
  float: right;
  margin-right: 30px;
}

body .navbar-wrapper .nav-top ul .login-btn {
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
}

body .navbar-wrapper .nav-top ul .login-btn:hover {
  background-color: #2388db;
  color: #fff;
}
/* line 28, ../../scss/home/nav.scss */
body .navbar-wrapper .nav-top li {
  margin-left: 10px;
  display: inline-block;
}
/* line 32, ../../scss/home/nav.scss */
body .navbar-wrapper .nav-top li a {
  color: #fff;
}
/* line 38, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent;
  border: 0;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
  position: static;
}
/* line 49, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav .container {
  width: auto;
}
/* line 53, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav .navbar-brand {

  background-size: 200px auto;
  color: #222;
  text-shadow: none;
  text-indent: -12345px;
  width: 200px;
}
/* line 64, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav .nav li a {
  color: #fff;
  font-size: 12px;
  text-shadow: none;
  text-transform: uppercase;
}
/* line 72, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav .nav li.active a {
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: none;
}
/* line 80, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav .navbar-header {
  float: none;
}
/* line 85, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle {
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  margin: 12px 0 0 0;
  padding: 0;
  border: 0;
  color: #fff;
  display: block;
}
/* line 93, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle:hover, body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle:focus {
  background: none;
  color: #5491da;
}
/* line 98, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle:hover .bars .icon-bar, body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle:focus .bars .icon-bar {
  background-color: #5491da;
}
/* line 103, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle .bars {
  display: inline-block;
  vertical-align: middle;
}
/* line 107, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle .bars .icon-bar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  height: 2px;
  background-color: #fff;
}
/* line 115, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle .button-text {
  display: inline-block;
  font-size: 24px;
  margin-left: 5px;
  vertical-align: middle;
  font-weight: 100;
  font-variant: small-caps;
}
/* line 125, ../../scss/home/nav.scss */
body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle:hover .icon-bar, body .navbar-wrapper #custom-nav.navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

/* line 134, ../../scss/home/nav.scss */
#navbar-menu {
  -moz-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  -webkit-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.3s linear 0s;
  display: block;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 145, 224, 0.99);
  top: 0;
  right: 0;
  min-width: 235px;
  height: 100%;
}
/* line 146, ../../scss/home/nav.scss */
#navbar-menu.show {
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
/* line 151, ../../scss/home/nav.scss */
#navbar-menu a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 156, ../../scss/home/nav.scss */
#navbar-menu a#hide-menu {
  position: absolute;
  font-size: 35px;
  top: 25px;
  right: 25px;
}
/* line 166, ../../scss/home/nav.scss */
#navbar-menu li.active a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  cursor: default;
}
/* line 173, ../../scss/home/nav.scss */
#navbar-menu .menu-items-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 178, ../../scss/home/nav.scss */
#navbar-menu ul {
  display: table-cell;
  vertical-align: middle;
}
/* line 182, ../../scss/home/nav.scss */
#navbar-menu ul li {
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 30px 0;
  margin: 0 30px;
}
/* line 188, ../../scss/home/nav.scss */
#navbar-menu ul li:first-child {
  border-top: 1px solid #fff;
}

@media (min-width: 768px) {
  /* line 196, ../../scss/home/nav.scss */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* line 199, ../../scss/home/nav.scss */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* line 204, ../../scss/home/nav.scss */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }
}
@media (max-width: 991px) {
  /* line 215, ../../scss/home/nav.scss */
  .navbar-menu a#hide-menu {
    font-size: 30px;
    top: 15px;
    right: 15px;
  }
  /* line 222, ../../scss/home/nav.scss */
  .navbar-menu ul li {
    padding: 25px 0;
  }
  /* line 224, ../../scss/home/nav.scss */
  .navbar-menu ul li a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  /* line 234, ../../scss/home/nav.scss */
  .navbar-menu {
    min-width: 100%;
  }
  /* line 237, ../../scss/home/nav.scss */
  .navbar-menu a#hide-menu {
    font-size: 24px;
    top: 15px;
    right: 15px;
  }
  /* line 244, ../../scss/home/nav.scss */
  .navbar-menu ul li {
    padding: 20px 0;
  }
  /* line 246, ../../scss/home/nav.scss */
  .navbar-menu ul li a {
    font-size: 16px;
  }
}
@media (max-height: 300px) {
  /* line 256, ../../scss/home/nav.scss */
  .navbar-menu {
    min-width: 100%;
  }
  /* line 259, ../../scss/home/nav.scss */
  .navbar-menu a#hide-menu {
    font-size: 20px;
    top: 10px;
    right: 10px;
  }
  /* line 266, ../../scss/home/nav.scss */
  .navbar-menu ul li {
    margin: 0 60px;
    padding: 10px 0;
  }
  /* line 271, ../../scss/home/nav.scss */
  .navbar-menu ul li a {
    font-size: 12px;
  }
}
