/* line 4, ../../scss/home/services.scss */
.services .icon {
  color: #a7a7a7;
  border: 5px solid #e1e1e1;
  width: 68px;
  height: 68px;
  line-height: 50px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: 10px;
  font-size: 26px;
}
/* line 15, ../../scss/home/services.scss */
.services .icon .fa {
  margin-right: auto;
  margin-left: auto;
  line-height: 58px;
}
/* line 22, ../../scss/home/services.scss */
.services ul.list-unstyled {
  margin-bottom: 0;
}
/* line 27, ../../scss/home/services.scss */
.services .service {
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  margin-bottom: 30px;
  opacity: 0;
}
/* line 32, ../../scss/home/services.scss */
.services .service p {
  margin-bottom: 0;
}
/* line 35, ../../scss/home/services.scss */
.services .service:last-child {
  margin-bottom: 0;
}
/* line 41, ../../scss/home/services.scss */
.services.ready .service {
  opacity: 1;
}
/* line 46, ../../scss/home/services.scss */
.services .service-1 {
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
/* line 50, ../../scss/home/services.scss */
.services .service-2 {
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
/* line 54, ../../scss/home/services.scss */
.services .service-3 {
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
/* line 58, ../../scss/home/services.scss */
.services .service-4 {
  -moz-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
}
/* line 62, ../../scss/home/services.scss */
.services .service-5 {
  -moz-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
/* line 66, ../../scss/home/services.scss */
.services .service-6 {
  -moz-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  -webkit-transition-delay: 1500ms;
  transition-delay: 1500ms;
}

@media (min-width: 992px) {
  /* line 73, ../../scss/home/services.scss */
  .services .first-column {
    text-align: right;
  }
}
@media (max-width: 991px) {
  /* line 80, ../../scss/home/services.scss */
  .services {
    text-align: center;
  }
  /* line 83, ../../scss/home/services.scss */
  .services .icon {
    margin: auto;
  }
  /* line 87, ../../scss/home/services.scss */
  .services .second-column {
    margin-top: 30px;
  }
}
/**
 *  Our Approach
 **/
/* line 97, ../../scss/home/services.scss */
.our-approach-wrapper {
  position: relative;
  background: #0093dd;
  color: #fff;
}
/* line 102, ../../scss/home/services.scss */
.our-approach-wrapper .section-heading::after {
  background-color: #fff;
}
/* line 106, ../../scss/home/services.scss */
.our-approach-wrapper #remove-selected {
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  height: 40px;
  width: 40px;
  outline: 0;
  text-decoration: none;
  position: absolute;
  display: none;
  right: 40px;
  top: 50px;
  z-index: 100;
}
/* line 121, ../../scss/home/services.scss */
.our-approach-wrapper #remove-selected .fa {
  font-weight: 100;
}
/* line 126, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode {
  background-size: cover;
  background-position: 50% 50%;
}
/* line 130, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode .bg-wrapper {
  background: rgba(0, 0, 0, 0.7);
}
/* line 134, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode #remove-selected {
  display: inline-block;
}
/* line 137, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode #remove-selected:hover {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #337ab7;
  border-color: #337ab7;
}
/* line 144, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode h2, .our-approach-wrapper.carousel-mode .intro {
  visibility: hidden;
}
/* line 148, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode .our-approach .boxes .box {
  display: none;
}
/* line 151, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode .our-approach .boxes .box.selected {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: none;
  width: auto;
  height: auto;
}
/* line 166, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode .our-approach .boxes .box.selected h6 a {
  background: none;
  text-align: left;
  line-height: 1.2;
  position: static;
  color: #fff;
  font-size: 50px;
}
/* line 174, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode .our-approach .boxes .box.selected h6 a:hover {
  color: #fff;
  font-size: 50px;
}
/* line 181, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode .our-approach .boxes .box.selected .lead {
  opacity: 1;
  -moz-transition: all 1000ms ease 300ms;
  -o-transition: all 1000ms ease 300ms;
  -webkit-transition: all 1000ms ease;
  -webkit-transition-delay: 300ms;
  transition: all 1000ms ease 300ms;
}
/* line 188, ../../scss/home/services.scss */
.our-approach-wrapper.carousel-mode .center-line {
  display: none;
}

/* line 197, ../../scss/home/services.scss */
.col-custom-2 {
  width: 20%;
  float: left;
}

/* line 203, ../../scss/home/services.scss */
.our-approach .boxes-container .center-line {
  border-width: 3px;
  position: absolute;
  bottom: 63px;
  left: 114px;
  right: 114px;
  z-index: 1;
}
/* line 213, ../../scss/home/services.scss */
.our-approach .boxes {
  overflow: hidden;
  *zoom: 1;
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  min-height: 130px;
  z-index: 5;
}
/* line 224, ../../scss/home/services.scss */
.our-approach .boxes li {
  padding: 0;
  z-index: 2;
}
/* line 229, ../../scss/home/services.scss */
.our-approach .boxes .box {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #036697;
  margin: auto;
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
  z-index: 2;
}
/* line 240, ../../scss/home/services.scss */
.our-approach .boxes .box:hover {
  border-color: #036697;
}
/* line 245, ../../scss/home/services.scss */
.our-approach .boxes .box h6 {
  margin: 0;
}
/* line 248, ../../scss/home/services.scss */
.our-approach .boxes .box h6 a {
  outline: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 124px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  z-index: 10;
}
/* line 264, ../../scss/home/services.scss */
.our-approach .boxes .box h6 a:hover {
  color: #0093dd;
  background: #fff;
}
/* line 272, ../../scss/home/services.scss */
.our-approach .boxes .box .lead {
  opacity: 0;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  /* line 284, ../../scss/home/services.scss */
  .our-approach .boxes li {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 288, ../../scss/home/services.scss */
  .our-approach .boxes li:last-child {
    margin-bottom: 0;
  }
}
