<div class='form-header clearfix'>New Company Form</div>
<form  name="companyForm" class="dispatch-form form-horizontal form">
    <div class="row">
        <div class="col-sm-4">
            <input class='form-control txt-box-medium' ng-model="company.name" name="name" type="text" placeholder="Name" 
            required style="float:left">
            <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="companyForm.name.$error" ng-if='companyForm.name.$dirty' ng-cloak>
                <div ng-message="required">Company Name is required</div>
            </div>             
        </div>
        <div class="col-sm-5">
            <input class='form-control txt-box-medium' type="email" ng-model="company.email" name="email" 
            placeholder="info@example.com" type="text" required style="float:left">
            <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="companyForm.email.$error" ng-if='companyForm.email.$dirty' ng-cloak>
              <div ng-message="required">Email is required</div>
              <div ng-message="email">Must be a valid email</div>
            </div>             
        </div>
        <div class="col-sm-3">
            <input class='form-control txt-box-small' ng-model="company.phone" type="tel" name="phone" 
            placeholder="Phone (10 digits)" ng-maxlength="10" maxlength="10" ng-pattern="/^(0|[1-9][0-9]*)$/" required style="float:left">
            <span class="required-asterik">*</span>	
            <div class="field-message" ng-messages="companyForm.phone.$error" ng-if='companyForm.phone.$dirty' ng-cloak>
              <div ng-message="required">Phone number is required</div>
              <div ng-message="pattern">Please provide valid US phone number.</div>
              <div ng-message="minlength">Phone must be 10 digit US phone #</div>
              <div ng-message="maxlength">Phone must be 10 digit US phone #</div>
            </div>              
        </div>
    </div>
    <fieldset>
        <legend class='legend-heading'>ADDRESS</legend>
        <div class="row">
            <div class="col-sm-5">
                <input class='form-control' ng-model="company.street" placeholder="Street" type="text" maxlength="75" >
            </div>
            <div class="col-sm-3">
                <input class='form-control' ng-model="company.city" placeholder="City" type="text" maxlength="30" >
            </div>
            <div class="col-sm-3">
                <select class='form-control' ng-model='company.state' >
                    <option value="">Select State</option>
                    <option ng-repeat='state in getStates()'
                        value="{{state}}">{{state}}
                    </option>
                </select>
            </div>                    
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input class='form-control' ng-model="company.zipcode" placeholder="Zip" pattern="\d*" maxlength="5" type="text" >
            </div>        
            <div class="col-sm-4">
                <input class='form-control' ng-model="company.country" placeholder="Country" type="text" value='US' disabled>
            </div>

        </div>
    </fieldset>
    <div class='row'>
        <div class="col-sm-2">
        <input type="submit" class="btn btn-lg btn-primary" value="Save" ng-disabled="companyForm.$invalid" ng-click="companyForm.$valid && ok() && closeThisDialog(0);" >
        </div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-lg btn-default" value="Reset" type="reset">
        </div>
    </div>        
</form>
