<div class="dashboard-content">
    <div class='dashboard-data'>
        <div class='table-wrapper'>
            <div class="table-wrapper__title">
                <h4>Shipper/Company</h4>
            </div>
            <div class='table-wrapper__header'>
                <div>
                    <button class="action-btn btn--large" ng-click="addCompany()"> ADD NEW COMPANY </button>
                </div>
                 <div class="table-wrapper__searchForm">
                    <i class="search-box__icon fa fa-search"></i>
                    <input class="table-wrapper__search-box search-box__input" type="search" data-ng-model="searchKeywords" placeholder="Find Broker" required="" />
                </div>
            </div>
            <table class="table-order table-striped table-hover table-condensed">
                <thead>
                    <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                    <th>ADDRESS</th>
                    <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="company in currentPageList" ng-include="getTemplate(company)">
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6 page-num-info">
                <span>Show
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select>
                    entries per page
                </span>
                </div>
                <div class="col-md-6 pull-right text-right btn-group">
                    <pagination class="pagination-sm custom-pagination"
                                ng-model="currentPage"
                                total-items="filteredBrokers.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="display">
            <td ng-bind="company.name | uppercase"></td>
            <td ng-bind="company.email"></td>
            <td ng-bind="company.phone"></td>
            <td>{{company.street}}, {{company.city}}. {{company.state}} {{company.zip}}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" ng-click="edit(company)"></span>
                <span class="glyphicon glyphicon-trash" ng-click="delete(company,$index)"></span>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td>{{company.name}}</td>
            <td><input type="text" ng-model="selected.email" /></td>
            <td><input type="text" ng-model="selected.phone" /></td>
            <td><input class='inputBox-sm' type="text" ng-model="selected.street" /></td>
            <td><input class='inputBox-sm' type="text" ng-model="selected.city" /></td>
            <td>
                <select class='inputBox-sm' ng-model="selected.state" style="padding:8px">
                    <option ng-repeat='state in getStates()'
                            value="{{state}}">{{state}}
                    </option>
                </select>        
            </td>
            <td><input type="text" ng-model="selected.zipcode" /></td>
            <td>
                <span class="glyphicon glyphicon-floppy-saved" ng-click="update($index)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="reset()"></span>
            </td>
        </script>
    </div>
</div>
