<div class='form-header clearfix' >New User Form</div>
<form name="userform" class="dispatch-form form-horizontal form" >   
        <fieldset>
            <legend class='legend-heading'>Account Type </legend>
            <div class='row'>
                <div class='col-md-3'>
                    <md-radio-group ng-init="newUser.role='ACCOUNTANT'" ng-model="newUser.role" style='display:inline'>
                        <md-radio-button value="ACCOUNTANT" class="md-primary" style='display:inline'>ACCOUNTANT</md-radio-button>
                        <md-radio-button value="DISPATCHER" style='display:inline'> DISPATCHER </md-radio-button>
                    </md-radio-group>               
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class='legend-heading'>Personal Information</legend>
            <div class='row'>
                <div class="col-sm-3">
                    <label for="label">FirstName</label>
                    <input class="form-control" ng-model="newUser.firstname" type="text" name="firstName" required>
                </div>
                <div class="col-sm-3">
                    <label for="label">LastName</label>
                    <input class="form-control" ng-model="newUser.lastname" type="text" name="lastName" required>
                </div>                    
                <div class="col-sm-4">
                    <label for="label">Email</label>
                    <input class="form-control" ng-model="newUser.email" type="email" name="email">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class='legend-heading'>Account Information</legend>
            <div class='row'>
                <div class="col-sm-3">
                    <label for="label">Username</label>
                    <input class="form-control" ng-model="newUser.username" type="text" name="username" required>
                </div>
                <div class="col-sm-3">
                    <label for="label">Password</label>
                    <input class="form-control" ng-model="newUser.password" type="password" name="password" required>
                </div>                    
                <div class="col-sm-3">
                    <label for="label">Confirm Password</label>
                    <input class="form-control" type="password" ng-model="newUser.passwordRepeated" name="confirmpassword" required >
                </div>
            </div>
        </fieldset>                     
       
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6'>
                <input type='submit' type="submit"  ng-click="userform.$valid && ok() && closeThisDialog(0);" class="btn btn-info" value='ADD USER' />
            </div>
        </div>
</form>
