<div id="main-page">
  <nav class="navbar">
    <div class="top-bar">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-sm-8">
          <a class="navbar-brand" href="#"><img class="logo" src="images/logo.png" align="Logo"></a>
          <ul class="contact-info">
            <li><span class="glyphicon glyphicon-phone-alt"></span> CALL FREE +123-456-789-000</li>
            <li><span class="glyphicon glyphicon-envelope "></span> <a href="mailto:support@websitename.com">support@websitename.com</a></li>
            <li><span class="glyphicon glyphicon-time "></span> Mon - Sat : 9AM - 6PM</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <section style="background-image:url(images/background/Man-truck-background.jpg); background-size:cover; min-height:200px;">
    <div></div>
  </section>
  <!-- serives section -->
  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="heading">
            <h3>Register with <span class='company-name'>Chuck Truck</span> </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='plan-information'>
          <h3> Selected Plan  <span class='plan-name' id='plan-type' ng-bind="planType"></span> </h3>
          <div>
            <button class='btn btn-success' ng-if="planType !== 'None'" ng-click="changePlan()">Change Plan</button>
            <button class='btn btn-success' ng-if="planType === 'None'" ng-click="changePlan()">Select Plan</button>

            <h3> Price (Per Month) <span class='plan-name'>$45.99</span></h3>
            <p>Trial Period: 30 days</p>

          </div>
        </div>
        <div class="row">
          <form name = "registrationForm"  novalidate class="form-horizontal" >
            <div class="col-md-6">

              <div class="form-group" ng-class="{ 'has-error' : registrationForm.companyName.$invalid && !registrationForm.companyName.$pristine }">
                <div class="col-sm-3 text-right">
                  <label for="inputText" class="control-label">Company Name</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" name="companyName" ng-model="user.name" type="text" required ng-minlength="3">
                </div>
                <span class="required-asterik">*</span>
                <div ng-show="registrationForm.companyName.$invalid && !registrationForm.companyName.$pristine" class="help-block">Company Name Required. Minimum 3 characters</div>

              </div>
              <div class="form-group">
                <div class="col-sm-3 text-right">
                  <label for="inputText" class="control-label">First Name</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" name="firstName" ng-model="user.firstname" type="text" required>
                </div>
                <span class="required-asterik">*</span>
              </div>
              <div class="form-group">
                <div class="col-sm-3 text-right">
                  <label for="inputText" class="control-label">Last Name</label>
                </div>

                <div class="col-sm-8">
                  <input type="text" name="lastName" ng-model="user.lastname"  class="form-control" required>
                </div>
                <span class="required-asterik">*</span>
              </div>
              <div class="form-group">
                <div class="col-sm-3 text-right">
                  <label for="inputText"  class="control-label">Address</label>
                </div>

                <div class="col-sm-8">
                  <input type="text" ng-model="user.address" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-5"  style="margin-left:15%">
                  <div class="form-group">
                    <div class="col-sm-3 text-right">
                      <label for="inputText" class="control-label">City</label>
                    </div>

                    <div class="col-sm-8">
                      <input type="text" ng-model="user.city" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <div class="col-sm-3">
                      <label class="control-label" for="inputEmail">State</label>
                    </div>
                    <div class="col-sm-7">
                      <select ng-model="user.state" class="form-control">
                        <option>AK</option>
                        <option>AR</option>
                        <option>AZ</option>
                        <option>CA</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-5" style="margin-left:15%">
                  <div class="form-group">
                    <div class="col-sm-3 text-right">
                      <label class="control-label">Zip</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" ng-model="user.zipcode" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <!--                                     <div class="form-group">
                                                          <div class="col-sm-3">
                                                             <label class="control-label">Country</label>
                                                          </div>
                                                          <div class="col-sm-7">
                                                              <input type="text" ng-model="user.zipcode" class="form-control">
                                                          </div>
                                                      </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-5" style="margin-left:15%">
                  <div class="form-group">
                    <div class="col-sm-3 text-right">
                      <label for="inputText" class="control-label">Phone</label>
                    </div>

                    <div class="col-sm-8">
                      <input type="text" ng-model="user.officePhone" class="form-control">
                    </div>
                    <span class="required-asterik">*</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <div class="col-sm-3 text-right">
                      <label for="inputText"  class="control-label">Mobile</label>
                    </div>

                    <div class="col-sm-7">
                      <input type="text" ng-model="user.cellPhone" class="form-control">
                    </div>
                    <span class="required-asterik">*</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3 text-right">
                  <label for="inputText" class="control-label">Email</label>
                </div>

                <div class="col-sm-8">
                  <input type="email" ng-model="user.email" class="form-control">
                </div>
                <span class="required-asterik">*</span>
              </div>
            </div>
            <div class='col-md-6'>
              <div class="row">
                <div class="col-md-5" style="margin-left:15%">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label class="control-label" for="inputEmail">Admin Username</label>
                    </div>
                    <div class="col-sm-7">
                      <input type="text" ng-model="user.username"  class="form-control">
                    </div>
                    <span class="required-asterik">*</span>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class="col-md-5" style="margin-left:15%">
                  <div class="form-group">
                    <div class="col-sm-4 text-right">
                      <label class="control-label">Password</label>
                    </div>
                    <div class="col-sm-7">
                      <input type="password" ng-model="user.password" class="form-control">
                    </div>
                    <span class="required-asterik">*</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <div class="col-sm-4 text-right">
                      <label class="control-label">Confirm</label>
                    </div>
                    <div class="col-sm-7">
                      <input type="password" ng-model="user.password" class="form-control">
                    </div>
                    <span class="required-asterik">*</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-3" style="margin-left:12%">
                  <label for="inputText" class="control-label">Trial Account</label>
                </div>
                <div class="col-sm-4">
                  <fieldset>
                    <input type="radio" name="AccountType" ng-model=tenant.accountType ng-checked class='formRadioBtn' style=" margin: 6px;">Yes
                    <input type="radio" name="AccountType" ng-model=tenant.accountType
                           class="formRadioBtn" style=" margin: 6px;">No
                  </fieldset>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="small"><strong>Note</strong> : </div>
                  <div class="small text-info"> Card will not be charged for 1st 15 day. <br>
                    Then CC conditions apply</div> <br>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button ng-disabled="registrationForm.$invalid" type="submit" ng-click="submitForm()" class="btn btn-lg btn-primary"> Submit </button>
                </div>
              </div>

          </form>
        </div>
  </section>


  <!-- footer  -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="headingTextSize">QUICK LINKS</h4>
          <ul class="footer">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>

          </ul>
        </div>

        <div class="col-md-3">
          <h4 class="headingTextSize">contact us</h4>
          <ul class="footer">
            <p><strong>NEWPORT CARRIERS</strong></p>
            <p>Contact Address will appear here, some text gonna appear here, Ney York City, - 10001, USA </p> <br>

            <p><strong>phone</strong> : 591 7890 123</p>
            <p><strong>email</strong> : info@transporttheme.com </p>

          </ul>
        </div>

        <div class="col-md-3">
          <h4 class="headingTextSize">newsletter signup</h4>
          <ul class="footer">
            <p>If you want receive our all weekly updates about new offers and discount, signup below. </p>

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-send"></span></span>
            </div>



          </ul>
        </div>



      </div>
    </div>
    <div class="information">
      <div class="container">

        <div class="col-md-6">
          <div class="small">Copyright 2016. All Rights Reserved by Newport Carriers. </div>
        </div>
        <div class="col-md-6">
          <ul class="list-inline navbar-right">
            <li><a href="#"><img src="images/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="images/twitter.png" alt="Twitter"></a></li>
            <li><a href="#"><img src="images/you-tube.png" alt="Youtube"></a></li>
            <li><a href="#"><img src="images/linkden.png" alt="Linkden"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>


