<!--TODO Move in head tag-->
<link rel="stylesheet" href="css/signup.css" />

<div class="signup-wrapper section" id="signup">
  <div class="bg-wrapper">
    <div class="container marketing">




      <div class="row">

        <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

          <div class="form-title">
            <h1 class="page-heading">Logo</h1>
            <h2 class="section-heading">Create Account</h2>
          </div>


          <div class="form-container">
            <div class="form-container-wrapper">
              <div class="row">
                <div class="col-xs-12"><div class="alert-container"></div></div>
              </div>


              <form method="POST" action="" name="join-form" id="join-form" class="join-form" role="form">
                <ul class="list-unstyled">
                  <li class="form-group">
                    <input type="text" value="" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email">
                  </li>
                  <li class="form-group">
                    <input type="text" value="" id="company" name="company" class="form-control" ng-model="user.name" placeholder="Company">
                  </li>
                  <li class="form-group">
                    <input type="password" value="" id="password" name="password" class="form-control password-field" ng-model="user.password" placeholder="Password">
                  </li>
                  <li class="form-group">
                    <input type="password" value="" id="confirm-password" name="confirm_password" class="form-control password-field" ng-model="user.confirmPassword" placeholder="Confirm Password">
                  </li>
                  <li id="password-help" class="password-help hidden">
                    <h5>Password must include the following:</h5>
                    <ul class="conditions list-unstyled">
                      <li id="hint-number-of-characters">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="condition">Use between 8 and 20 characters</span>
                      </li>
                      <li id="hint-number-of-letters">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="condition">Include at least one letter</span>
                      </li>
                      <li id="hint-no-special-characters">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="condition">Does not contain blank spaces or the following special characters: &lt; &gt; " \ . ,</span>
                      </li>
                      <li id="hint-passwords-match">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="condition">Passwords match</span>
                      </li>
                    </ul>
                  </li>
                  <li class="form-group">
                    <button id="join-form-submit-button" class="btn btn-primary btn-lg" ng-click="submitForm()" type="submit">Register</button>
                  </li>
                </ul>
              </form>

              <p class="sign-link"><a href="">Already have an account? Sign in</a></p>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>
</div>

<!-- JavaScript Includes
================================================== -->
<script src="../../../dist/js/namespace.js"></script>
<script src="../../../dist/js/FormValidator.js"></script>
<script src="../../../dist/js/signup.js"></script>