<!--TODO Move in head tag-->
<link rel="stylesheet" href="css/signup.css" />

<div class="signup-wrapper section" id="signup">
    <div class="bg-wrapper">
        <div class="container marketing">

            <div class="row">

                <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

                    <div class="form-title">
                        <h1 class="page-heading">Logo</h1>
                        <h2 class="section-heading">Login</h2>
                    </div>


                    <div class="form-container">
                        <div class="form-container-wrapper">
                            <div class="row">
                                <div class="col-xs-12"><div class="alert-container"></div></div>
                            </div>

                            <form method="POST" name="join-form" ng-submit="login()" id="join-form" class="join-form is-signin" role="form">
                                <ul class="list-unstyled">
                                    <li class="form-group">
                                        <input type="text" value="" id="email" name="email" ng-model="user.name" class="form-control" placeholder="Email">
                                    </li>
                                    <li class="form-group">
                                        <input type="password" value="" id="password" name="password" ng-model="user.password" class="form-control password-field" placeholder="Password">
                                    </li>

                                    <li class="form-group">
                                        <input type="submit" id="join-form-submit-button" class="btn btn-primary btn-lg" ng-keyup="$event.keyCode == 13 && login()"  />Sign In
                                    </li>
                                </ul>
                            </form>

                            <p class="forgot-password"><a href="">Forgot Password?</a></p>
                            <hr/>
                            <!-- <div class="form-group">
                                <input type="submit" id="join-button" class="btn btn-info btn-lg" >Join Now</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript Includes
================================================== -->
<!-- <script src="../../../dist/js/namespace.js"></script>
<script src="../../../dist/js/FormValidator.js"></script>
<script src="../../../dist/js/signup.js"></script> -->