<div id="main-page">
    <nav class="navbar">    
        <div class="top-bar">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8">
                    <a class="navbar-brand" href="#"><img class="logo" src="images/logo.png" align="Logo"></a>
                    <ul class="contact-info">
                        <li><span class="glyphicon glyphicon-phone-alt"></span> CALL FREE +123-456-789-000</li>
                        <li><span class="glyphicon glyphicon-envelope "></span> <a href="mailto:support@websitename.com">support@websitename.com</a></li>
                        <li><span class="glyphicon glyphicon-time "></span> Mon - Sat : 9AM - 6PM</li>
                    </ul>
                </div>
            </div>
        </div>            
    </nav>
    <section style="background-image:url(images/background/Man-truck-background.jpg); background-size:cover; min-height:200px;">
        <div></div>
    </section>

    <div class="main-body">
        <div class="container">
            <div class="form-container">

            <section>
                <form class="form-horizontal">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.firstname" type="text" placeholder="FirstName">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.lastname" type="text" placeholder="LastName">
                                </md-input-container>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.tenant.address" type="text" placeholder="Address">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.tenant.city" type="text" placeholder="City">
                                </md-input-container>
                            </div>
                        </div>
                        </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.tenant.state" type="text" placeholder="State">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.tenant.zip" type="text" placeholder="Zip">
                                </md-input-container>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.tenant.cellPhone" type="text" placeholder="CellPhone">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.tenant.officephone" type="text" placeholder="OfficePhone">
                                </md-input-container>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                                    <input ng-model="user.username" type="text" placeholder="Username">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container class="md-primary" md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_mail_24px.svg"></md-icon>
                                    <input ng-model="user.email" type="text" placeholder="Email">
                                </md-input-container>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container class="md-primary" md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                                    <input ng-model="user.password" type="text" placeholder="Password">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container class="md-primary" md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                                    <input ng-model="user.confirmPassword" type="text" placeholder="Confirm Password">
                                </md-input-container>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <md-input-container class="md-primary" md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                                    <input ng-model="user.card" type="text" placeholder="CC Number">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <md-input-container class="md-primary" md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                                    <input ng-model="user.cvc" type="text" placeholder="cvc#">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <md-input-container class="md-primary" md-no-float>
                                    <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                                    <input ng-model="user.cardExpiryDate" type="text" placeholder="Expiry date">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <section>
                        <p class="text-center text-muted">Note :
                            This card will be charged on 25th of every month.
                            Please send us email to stop service
                            Cancellation after 20th will have a charge of next month</p>
                    </section>



                    <div class="row">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p class="text-muted text-small">By clicking on Sign up, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a></p>
                                <div class="divider"></div>
                                <md-button class="btn-width-large btn-block btn-lg md-primary md-raised" ng-click="submitForm()">Sign up</md-button>
                            </div>
                        </div>
                        <div class="col-sm-4">

                        </div>

                    </div>


                </form>
            </section>

            <section>
                <p class="text-center text-muted">Already have an account? <a href="#/pages/signin" >Log in now</a></p>
            </section>

            </div>
        </div>
    </div>
</div>