<div class='row'>
    <div class='col-md-12 col-sm-12'>
        <div class="table-dynamic">
            <table class="table-order table-striped table-hover">
                    <thead>
                        <tr>
                        <th> Id </th>
                        <th> FirstName </th>
                        <th> LastName </th>
                        <th> Email </th>
                        <th> Username </th>
                        <th> Role </th>
                        <th> Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users" ng-include="getTemplate(user)">
                        </tr>
                    </tbody>
                </table>
        </div>                    
        <script type="text/ng-template" id="display">
            <td ng-bind="user.id"></td> <!--place holder for BillID -->
            <td ng-bind="user.firstname"><a href='#'>DETAILS</a></td>
            <td ng-bind="user.lastname"></td>
            <td ng-bind="user.email"></td>
            
            <td ng-bind="user.username"></td>
            <td ng-bind="user.role"></td>
            <td>
                <span class="glyphicon glyphicon-pencil" ng-click="edit(user)"></span>
                <span class="glyphicon glyphicon-trash" ng-click="delete(user,$index)"></span>
            </td>
        </script>
        <script type="text/ng-template" id="edit" stye='color:#fff'>

            <td ng-bind="user.id"></td>
            <td><input type="text" ng-model="selected.firstname"></td>
            <td><input type="text" ng-model="selected.lastname"></td>
            <td><input type="text" ng-model="selected.email"></td>
            <td><input type="text" ng-model="selected.cellphone"></td>
            <td>
                <select ng-model="selected.role">
                    <option ng-repeat="item in userRoles" value="{{item}}">{{item}}</option>
                </select>
            </td> 
            <td>
                <span class="glyphicon glyphicon-floppy-saved" ng-click="update($index)"></span>
                <span class="glyphicon glyphicon-remove" ng-click="reset()"></span>
            </td>
        </script>
    </div>
</div>